Repository deedee-ops/home-ops: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, tofu, tflint, yamllint, egress-comment, yaml-json-schema

lefthook.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/lefthook.json
skip_output:
  - execution
pre-commit:
  parallel: true
  commands:
    shellcheck:
      glob: "*.sh{,.j2}"
      run: shellcheck {staged_files}
    tofu:
      glob: "tofu/**/*.{tf,tfvars}"
      run: tofu fmt -check -diff {staged_files}
    tflint:
      glob: "tofu/**/*.{tf,tfvars}"
      run: tflint --recursive
    yamllint:
      glob: "*.y*ml"
      run: yamllint -s {staged_files}
    egress-comment:
      glob: "*.y*ml"
      run: go-task lint:egress-comment || task lint:egress-comment
    yaml-json-schema:
      glob: "*.y*ml"
      run: go-task lint:yaml-json-schema || task lint:yaml-json-schema
full:
  parallel: true
  commands:
    shellcheck:
      glob: "*.sh{,.j2}"
      run: shellcheck {all_files}
    tofu:
      glob: "tofu/**/*.{tf,tfvars}"
      run: tofu fmt -check -diff {all_files}
    tflint:
      glob: "tofu/**/*.{tf,tfvars}"
      run: tflint --recursive
    yamllint:
      glob: "*.y*ml"
      run: yamllint -s {all_files}
    egress-comment:
      glob: "*.y*ml"
      run: go-task lint:egress-comment || task lint:egress-comment
    yaml-json-schema:
      glob: "*.y*ml"
      run: go-task lint:yaml-json-schema || task lint:yaml-json-schema

WIP
  docker/hosts/meemee/resources/stack.rustfs.toml
Due: none

WIP
  docker/stacks/komodo/compose.yaml
  docker/stacks/rustfs/compose.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  truenas/deploy.sh
Due: shellcheck

WIP
  docker/stacks/komodo/compose.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  docker/hosts/meemee/resources/stack.komodo.toml
Due: none

WIP
  docker/hosts/meemee/resources/procedure.update.toml
Due: none

WIP
  docker/hosts/meemee/resources/stack.rustfs.toml.disabled
Due: none

WIP
  docker/hosts/meemee/resources/stack.komodo.toml
  docker/hosts/meemee/resources/stack.node-exporter.toml
  docker/hosts/meemee/resources/stack.rustfs.toml.disabled
  docker/hosts/meemee/resources/stack.smartctl-exporter.toml
  docker/hosts/meemee/resources/stack.traefik.toml
  rustfs/.rustfs.sys/buckets/.usage.json/xl.meta
  rustfs/.rustfs.sys/config/config.json/xl.meta
  rustfs/.rustfs.sys/config/iam/format.json/xl.meta
  rustfs/.rustfs.sys/config/tier-config.json/ab544fdb-a4b3-41da-a239-c3ac427e5fed/part.1
  rustfs/.rustfs.sys/config/tier-config.json/xl.meta
  rustfs/.rustfs.sys/datausage/d6533f89-1527-4b4b-bf2e-48a89471af94.json
  rustfs/.rustfs.sys/datausage/state/d6533f89-1527-4b4b-bf2e-48a89471af94.json
  rustfs/.rustfs.sys/format.json
  rustfs/.rustfs.sys/pool.bin/50f34ad7-3091-4cbc-b178-175e6ae03b42/part.1
  rustfs/.rustfs.sys/pool.bin/xl.meta
  rustfs/.rustfs.sys/tmp/.trash/220cd93a-e426-4bd2-aa1d-dc0b72581b4f/xl.meta
  rustfs/.rustfs.sys/tmp/.trash/92a7cca4-6855-4a98-89f6-46a54b4671ff/xl.meta
  rustfs/.rustfs.sys/tmp/.trash/af260ba0-1c20-484f-966c-a5607dd55cc1/xl.meta
  rustfs/.rustfs.sys/tmp/.trash/eb4f5793-01cb-4c78-88c0-4f280ade03a5/xl.meta
Due: none

WIP
  nas/deploy-truenas.sh
  nas/periphery.config.toml
  nas/unraid-script
Due: shellcheck

chore: adjust environment to work seamlessly with vault
  .envrc
  .gitignore
  .justfile
  .sops.yaml
  bootstrap/mod.just
  flake.nix
  opentofu/main.tf
  opentofu/terraform.tfstate
  opentofu/variables.tf
  scripts/vault.sops.env
  talos/mod.just
Due: yamllint, egress-comment, yaml-json-schema

talos
  .env
  .yamlfmt
  .ylsignore
  bootstrap/mod.just
  flake.nix
  talos/deedee/machineconfig.yaml.j2
  talos/deedee/nodes/192.168.42.21.yaml.j2
  talos/deedee/nodes/192.168.42.22.yaml.j2
  talos/deedee/nodes/192.168.42.23.yaml.j2
  talos/deedee/schematic.yaml.j2
Due: none

WIP
  .gitignore
  .justfile
  bootstrap/helmfile.d/00-crds.yaml
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/helmfile.d/templates/values.yaml.gotmpl
  bootstrap/mod.just
  bootstrap/resources.yaml.j2
  flake.nix
  kubernetes/apps/kube-system/cilium/templates/bgp.jsonnet
  kubernetes/clusters/deedee/globals.json
  kubernetes/clusters/deedee/values.yaml
  kubernetes/clusters/meemee/globals.json
  kubernetes/clusters/meemee/values.yaml
  talos/deedee/machineconfig.yaml.j2
  talos/mod.just
Due: yamllint, egress-comment, yaml-json-schema

refactor: talos provisioning
  .env
  .gitignore
  .justfile
  .yamlfmt
  .ylsignore
  bootstrap/helmfile.d/00-crds.yaml
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/helmfile.d/templates/values.yaml.gotmpl
  bootstrap/mod.just
  bootstrap/resources.yaml.j2
  flake.nix
  talos/deedee/machineconfig.yaml.j2
  talos/deedee/nodes/blossom.yaml.j2
  talos/deedee/nodes/bubbles.yaml.j2
  talos/deedee/nodes/buttercup.yaml.j2
  talos/deedee/schematic.yaml.j2
  talos/mod.just
Due: yamllint, egress-comment, yaml-json-schema

refactor: talos provisioning
  .env
  .github/labeler.yaml
  .github/labels.yaml
  .gitignore
  .justfile
  .yamlfmt
  .ylsignore
  bootstrap/helmfile.d/00-crds.yaml
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/helmfile.d/templates/values.yaml.gotmpl
  bootstrap/mod.just
  bootstrap/resources.yaml.j2
  flake.nix
  talos/deedee/machineconfig.yaml.j2
  talos/deedee/nodes/blossom.yaml.j2
  talos/deedee/nodes/bubbles.yaml.j2
  talos/deedee/nodes/buttercup.yaml.j2
  talos/deedee/schematic.yaml.j2
  talos/leelee/machineconfig.yaml.j2
  talos/leelee/nodes/10.100.10.10.yaml.j2
  talos/leelee/schematic.yaml.j2
  talos/mod.just
Due: yamllint, egress-comment, yaml-json-schema

refactor: talos provisioning
  .env
  .github/labeler.yaml
  .github/labels.yaml
  .github/workflows/labeler.yaml
  .gitignore
  .justfile
  .renovate/labels.json5
  .yamlfmt
  .ylsignore
  bootstrap/helmfile.d/00-crds.yaml
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/helmfile.d/templates/values.yaml.gotmpl
  bootstrap/mod.just
  bootstrap/resources.yaml.j2
  flake.nix
  schemas/values.json
  talos/deedee/machineconfig.yaml.j2
  talos/deedee/nodes/blossom.yaml.j2
  talos/deedee/nodes/bubbles.yaml.j2
  talos/deedee/nodes/buttercup.yaml.j2
  talos/deedee/schematic.yaml.j2
  talos/leelee/machineconfig.yaml.j2
  talos/leelee/nodes/10.100.10.10.yaml.j2
  talos/leelee/schematic.yaml.j2
  talos/mod.just
Due: yamllint, egress-comment, yaml-json-schema

refactor: talos provisioning
  .env
  .github/labeler.yaml
  .github/labels.yaml
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
  .gitignore
  .justfile
  .renovate/labels.json5
  .yamlfmt
  .ylsignore
  bootstrap/helmfile.d/00-crds.yaml
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/helmfile.d/templates/values.yaml.gotmpl
  bootstrap/mod.just
  bootstrap/resources.yaml.j2
  flake.nix
  schemas/values.json
  talos/deedee/machineconfig.yaml.j2
  talos/deedee/nodes/blossom.yaml.j2
  talos/deedee/nodes/bubbles.yaml.j2
  talos/deedee/nodes/buttercup.yaml.j2
  talos/deedee/schematic.yaml.j2
  talos/leelee/machineconfig.yaml.j2
  talos/leelee/nodes/10.100.10.10.yaml.j2
  talos/leelee/schematic.yaml.j2
  talos/mod.just
Due: yamllint, egress-comment, yaml-json-schema

feat: add irqbalance
  kubernetes/apps/kube-system/irqbalance/kustomization.yaml
  kubernetes/apps/kube-system/irqbalance/ocirepository.yaml
  kubernetes/clusters/deedee/apps/kube-system/irqbalance.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat: add external-secrets
  kubernetes/apps/external-secrets/external-secrets/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/ocirepository.yaml
  kubernetes/clusters/deedee/apps/external-secrets/external-secrets.yaml
  kubernetes/clusters/deedee/apps/external-secrets/external-secrets/clustersecretstore.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat: add cert-manager
  kubernetes/apps/cert-manager/cert-manager/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/ocirepository.yaml
  kubernetes/clusters/deedee/apps/cert-manager/_namespace.yaml
  kubernetes/clusters/deedee/apps/cert-manager/cert-manager.yaml
  kubernetes/clusters/deedee/apps/cert-manager/cert-manager/clusterissuer.yaml
  kubernetes/clusters/deedee/apps/cert-manager/cert-manager/externalsecret.yaml
  kubernetes/clusters/deedee/apps/cert-manager/kustomization.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(cilium): multiple egress labels
  kubernetes/apps/external-secrets/external-secrets/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/globalpolicy.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(docker): migrate acme directory to vault
  docker/hosts/meemee/resources/variables.toml
  docker/stacks/matchbox/compose.yaml
  docker/stacks/talos-factory/compose.yaml
  docker/stacks/traefik/config/extra/dashboard.yaml
  docker/stacks/traefik/config/extra/tls.yaml
  docker/stacks/traefik/config/traefik.yaml
  scripts/nas/deploy-truenas.sh
Due: shellcheck, yamllint, egress-comment, yaml-json-schema

chore: migrate to new root domain
  docker/hosts/meemee/overlays/traefik/config/extra/truenas.yaml
  docker/hosts/meemee/resources/stack.komodo.toml
  docker/stacks/komodo/compose.yaml
  docker/stacks/matchbox/compose.yaml
  docker/stacks/matchbox/config/profiles/talos-nuc-12.json
  docker/stacks/registry/compose.yaml
  docker/stacks/rustfs/compose.yaml
  docker/stacks/talos-factory/compose.yaml
  docker/stacks/traefik/config/traefik.yaml
  docker/stacks/vault/compose.yaml
  docker/stacks/vault/config/config.hcl
  flake.nix
  kubernetes/apps/cert-manager/cert-manager/clusterissuer.yaml
  kubernetes/apps/cert-manager/cert-manager/externalsecret.yaml
  kubernetes/apps/cert-manager/cert-manager/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/clustersecretstore.yaml
  kubernetes/apps/external-secrets/external-secrets/kustomization.yaml
  kubernetes/clusters/deedee/apps/cert-manager/cert-manager.yaml
  kubernetes/clusters/deedee/apps/cert-manager/cert-manager/clusterissuer.yaml
  kubernetes/clusters/deedee/apps/external-secrets/external-secrets.yaml
  kubernetes/clusters/deedee/apps/external-secrets/external-secrets/clustersecretstore.yaml
  scripts/nas/README.md
  talos/deedee/machineconfig.yaml.j2
  talos/mod.just
Due: yamllint, egress-comment, yaml-json-schema

feat: add smtp-relay
  kubernetes/apps/cert-manager/cert-manager/externalsecret.yaml
  kubernetes/apps/network/smtp-relay/externalsecret.yaml
  kubernetes/apps/network/smtp-relay/helmrelease.yaml
  kubernetes/apps/network/smtp-relay/kustomization.yaml
  kubernetes/apps/network/smtp-relay/networkpolicy.yaml
  kubernetes/apps/network/smtp-relay/ocirepository.yaml
  kubernetes/clusters/deedee/apps/network/_namespace.yaml
  kubernetes/clusters/deedee/apps/network/kustomization.yaml
  kubernetes/clusters/deedee/apps/network/smtp-relay.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat: add openebs
  kubernetes/apps/openebs-system/openebs/helmrelease.yaml
  kubernetes/apps/openebs-system/openebs/kustomization.yaml
  kubernetes/apps/openebs-system/openebs/ocirepository.yaml
  kubernetes/clusters/deedee/apps/openebs-system/_namespace.yaml
  kubernetes/clusters/deedee/apps/openebs-system/kustomization.yaml
  kubernetes/clusters/deedee/apps/openebs-system/openebs.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat: add snapshot-controller
  kubernetes/apps/kube-system/snapshot-controller/helmrelease.yaml
  kubernetes/apps/kube-system/snapshot-controller/kustomization.yaml
  kubernetes/apps/kube-system/snapshot-controller/ocirepository.yaml
  kubernetes/clusters/deedee/apps/cert-manager/cert-manager.yaml
  kubernetes/clusters/deedee/apps/kube-system/snapshot-controller.yaml
Due: yamllint, egress-comment, yaml-json-schema
