Repository deedee-ops/home-ops: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, tofu, tflint, yamllint, egress-comment, yaml-json-schema

shellcheck:
  run: shellcheck {staged_files}

tofu:
  run: tofu fmt -check -diff {staged_files}

tflint:
  run: tflint --recursive

yamllint:
  run: yamllint -s {staged_files}

egress-comment:
  run: go-task lint:egress-comment || task lint:egress-comment

yaml-json-schema:
  run: go-task lint:yaml-json-schema || task lint:yaml-json-schema

WIP
  kubernetes/apps/network/envoy-gateway/templates/gateway.jsonnet
  kubernetes/apps/network/envoy-gateway/templates/gateway.yaml
  kubernetes/apps/network/external-dns-unifi/app.yaml
  kubernetes/apps/network/external-dns-unifi/templates/externalsecret.yaml
  kubernetes/clusters/meemee/globals.json
  kubernetes/clusters/meemee/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  kubernetes/apps/network/envoy-gateway/templates/gateway.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  kubernetes/apps/network/envoy-gateway/app.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  kubernetes/apps/network/envoy-gateway/templates/gateway.jsonnet
  kubernetes/apps/network/envoy-gateway/templates/httproute.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  kubernetes/apps/network/external-dns-unifi/app.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  kubernetes/apps/network/external-dns-unifi/templates/ciliumnetworkpolicy.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  kubernetes/apps/argocd/argo-cd/templates/httproute.jsonnet
Due: none

WIP
  kubernetes/apps/network/envoy-gateway/templates/gateway.jsonnet
Due: none

WIP
  kubernetes/apps/network/envoy-gateway/templates/gateway.jsonnet
  kubernetes/clusters/meemee/globals.json
Due: none

WIP
  kubernetes/apps/argocd/argo-cd/templates/httproute.jsonnet
  kubernetes/apps/network/envoy-gateway/templates/envoypolicy.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  kubernetes/clusters/meemee/globals.json
Due: none

WIP
  kubernetes/clusters/meemee/templates/namespace.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  kubernetes/apps/network/envoy-gateway/templates/gateway.jsonnet
  kubernetes/clusters/meemee/globals.json
  talos/meemee/machineconfig.yaml.j2
Due: none

WIP - envoy separation
  kubernetes/apps/network/envoy-gateway/templates/envoy.jsonnet
  kubernetes/apps/network/envoy-gateway/templates/envoypolicy.yaml
  kubernetes/apps/network/envoy-gateway/templates/gateway.jsonnet
Due: yamllint, egress-comment, yaml-json-schema

WIP - envoy 2
  kubernetes/apps/network/envoy-gateway/templates/envoy.jsonnet
  kubernetes/apps/network/envoy-gateway/templates/envoypolicy.yaml
  kubernetes/apps/network/envoy-gateway/templates/gateway.jsonnet
  kubernetes/apps/network/envoy-gateway/templates/gatewayclass.jsonnet
Due: yamllint, egress-comment, yaml-json-schema

WIP
  kubernetes/clusters/meemee/globals.json
  kubernetes/lib/cluster-provisioner/templates/appset.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  kubernetes/apps/kube-system/cilium/app.yaml
  kubernetes/apps/kube-system/cilium/templates/ciliumloadbalancerpool.jsonnet
  kubernetes/apps/kube-system/cilium/templates/l2.jsonnet
  kubernetes/clusters/meemee/values.yaml
  kubernetes/lib/cluster-provisioner/templates/appset.yaml
  talos/meemee/machineconfig.yaml.j2
Due: yamllint, egress-comment, yaml-json-schema

WIP
  kubernetes/apps/kube-system/cilium/templates/ciliumloadbalancerpool.jsonnet
  kubernetes/apps/kube-system/cilium/templates/l2.jsonnet
Due: none

WIP
  kubernetes/apps/network/envoy-gateway/templates/envoy.jsonnet
  kubernetes/apps/network/envoy-gateway/templates/envoy.yaml
  kubernetes/apps/network/envoy-gateway/templates/gateway.jsonnet
  kubernetes/apps/network/envoy-gateway/templates/gatewayclass.jsonnet
  kubernetes/clusters/meemee/globals.json
Due: yamllint, egress-comment, yaml-json-schema

WIP
  kubernetes/apps/network/envoy-gateway/templates/ciliumnetworkpolicy.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  kubernetes/apps/network/envoy-gateway/templates/envoy.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  kubernetes/apps/cosign-system/policy-controller/templates/clusterimagepolicy.yaml
Due: yamllint, egress-comment, yaml-json-schema

truenas
  .gitignore
  .sops.yaml
  docker/hosts/meemee/komodo.sops.env
  docker/stacks/komodo/compose.env
  docker/stacks/komodo/compose.yaml
  truenas/deploy.sh
  truenas/periphery.config.toml
Due: shellcheck, yamllint, egress-comment, yaml-json-schema

WIP
  truenas/deploy.sh
Due: shellcheck

WIP
  .sops.yaml
  docker/hosts/meemee/komodo.sops.env
  docker/hosts/meemee/secrets.sops.toml
  docker/stacks/komodo/compose.yaml
  docker/stacks/node-exporter/compose.yaml
  truenas/deploy.sh
Due: shellcheck, yamllint, egress-comment, yaml-json-schema

Path conditions:
  shellcheck: any of: *.sh{,.j2}
  tofu: any of: tofu/**/*.{tf,tfvars}
  tflint: any of: tofu/**/*.{tf,tfvars}
  yamllint: any of: *.y*ml
  egress-comment: any of: *.y*ml
  yaml-json-schema: any of: *.y*ml
