Repository deedee-ops/home-ops: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, tofu, tflint, yamllint, egress-comment, yaml-json-schema

shellcheck:
  run: shellcheck {staged_files}

tofu:
  run: tofu fmt -check -diff {staged_files}

tflint:
  run: tflint --recursive

yamllint:
  run: yamllint -s {staged_files}

egress-comment:
  run: go-task lint:egress-comment || task lint:egress-comment

yaml-json-schema:
  run: go-task lint:yaml-json-schema || task lint:yaml-json-schema

chore(borgmatic): update eu repo
  docker/hosts/meemee/secrets/borgmatic.sops.env
Due: none

chore(flux): flux 2.0 is default now
  kubernetes/apps/flux-system/flux-instance/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema

chore: replace deprecated nix formatter
  flake.nix
Due: none

chore: add talos-pilot
  flake.lock
  flake.nix
Due: none

fix(wakapi): fix "disk I/O error (6410)"
  kubernetes/apps/default/wakapi/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema

chore(fluentbit): move to official repository
  kubernetes/apps/kube-system/fluent-bit/ocirepository.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat: add nfs-pod-monitor
  kubernetes/apps/kube-system/nfs-pod-monitor/helmrelease.yaml
  kubernetes/apps/kube-system/nfs-pod-monitor/kustomization.yaml
  kubernetes/apps/kube-system/nfs-pod-monitor/ocirepository.yaml
  kubernetes/apps/kube-system/nfs-pod-monitor/rbac.yaml
  kubernetes/clusters/deedee/apps/kube-system/kustomization.yaml
  kubernetes/clusters/deedee/apps/kube-system/nfs-pod-monitor.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(cilium): enable socketLB
  kubernetes/apps/kube-system/cilium/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(fluent-bit): increase buffer size to 256k
  kubernetes/apps/kube-system/fluent-bit/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(sonarr): update refresh series script
  kubernetes/apps/media/sonarr/resources/refresh-series.sh
Due: shellcheck

feat(flux): monitor failed reconcilations
  kubernetes/apps/flux-system/flux-instance/prometheusrule.yaml
  kubernetes/apps/observability/kube-prometheus-stack/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(atuin): new server command
  kubernetes/apps/default/atuin/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(bazarr): crashes when cdn.jsdelivr.net is not allowed
  kubernetes/apps/media/bazarr/networkpolicy.yaml
Due: yamllint, egress-comment, yaml-json-schema

chore: add sync _just_ helpers for kubernetes
  kubernetes/mod.just
Due: none

chore(renovate): add exclusions
  .renovate/exclusions.json5
  .renovaterc.json5
Due: none

chore(renovate): bump minimum group size for kubernetes group
  .renovate/groups.json5
Due: none

chore(renovate): fix kubernetes group minimum versions
  .renovate/autoMerge.json5
  .renovate/groups.json5
Due: none

chore(renovate): bump minimum group size for kube-group to 9
  .renovate/groups.json5
Due: none

feat: add kiwix
  kubernetes/apps/default/kiwix/helmrelease.yaml
  kubernetes/apps/default/kiwix/kustomization.yaml
  kubernetes/apps/default/kiwix/networkpolicy.yaml
  kubernetes/apps/default/kiwix/ocirepository.yaml
  kubernetes/clusters/deedee/apps/default/kiwix.yaml
  kubernetes/clusters/deedee/apps/default/kustomization.yaml
Due: yamllint, egress-comment, yaml-json-schema

chore(kopia): change group only on mismatch
  kubernetes/apps/volsync-system/volsync/kopiamaintenance.yaml
Due: yamllint, egress-comment, yaml-json-schema

chore: add requests to limits, to avoid overprovisioning
  kubernetes/apps/default/paperless-ngx/helmrelease.yaml
  kubernetes/apps/media/jellyfin/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(sabnzbd): enable smtp
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(recyclarr): migrate to SQP templates
  kubernetes/apps/media/recyclarr/resources/recyclarr.yml
Due: yamllint, egress-comment, yaml-json-schema

fix(nfs): disable attribute caching to cooperate nicer with mergerfs
  kubernetes/apps/default/kiwix/helmrelease.yaml
  kubernetes/apps/default/n8n/helmrelease.yaml
  kubernetes/apps/default/paperless-ngx/helmrelease.yaml
  kubernetes/apps/default/syncthing/helmrelease.yaml
  kubernetes/apps/kube-system/csi-driver-nfs/helmrelease.yaml
  kubernetes/apps/media/bazarr/helmrelease.yaml
  kubernetes/apps/media/jellyfin/helmrelease.yaml
  kubernetes/apps/media/navidrome/helmrelease.yaml
  kubernetes/apps/media/pinchflat/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/helmrelease.yaml
  kubernetes/apps/media/qui/helmrelease.yaml
  kubernetes/apps/media/radarr/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
  kubernetes/apps/media/slskd/helmrelease.yaml
  kubernetes/apps/media/sonarr/helmrelease.yaml
  talos/deedee/machineconfig.yaml.j2
Due: yamllint, egress-comment, yaml-json-schema

feat(sabnzbd): shut down sabnzbd midday, so NAS can do moving/cleanup work
  kubernetes/apps/media/sabnzbd/kustomization.yaml
  kubernetes/apps/media/sabnzbd/scaledobject.yaml
  kubernetes/clusters/deedee/apps/media/sabnzbd.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(nfs-pod-monitor): exclude volsync pods
  kubernetes/apps/kube-system/nfs-pod-monitor/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema

chore(sabnzbd): reverse shutdown, usenet doesn't need tank-flushing after all
  kubernetes/apps/media/sabnzbd/kustomization.yaml
  kubernetes/apps/media/sabnzbd/scaledobject.yaml
  kubernetes/clusters/deedee/apps/media/sabnzbd.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(slskd): people love downloading my music at nights too much
  kubernetes/apps/media/slskd/kustomization.yaml
  kubernetes/apps/media/slskd/scaledobject.yaml
  kubernetes/clusters/deedee/apps/media/slskd.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat: add donetick
  kubernetes/apps/default/donetick/externalsecret.yaml
  kubernetes/apps/default/donetick/helmrelease.yaml
  kubernetes/apps/default/donetick/kustomization.yaml
  kubernetes/apps/default/donetick/ocirepository.yaml
  kubernetes/clusters/deedee/apps/default/donetick.yaml
  kubernetes/clusters/deedee/apps/default/kustomization.yaml
Due: yamllint, egress-comment, yaml-json-schema

chore(container): update image registry.ajgon.casa/tools/nfs-pod-monitor ( 5fbc731 → 1d7921d )
  kubernetes/apps/kube-system/nfs-pod-monitor/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema

chore(rook-ceph): increase system partition
  talos/deedee/machineconfig.yaml.j2
Due: none

chore: remove donetick
  kubernetes/apps/default/donetick/externalsecret.yaml
  kubernetes/apps/default/donetick/helmrelease.yaml
  kubernetes/apps/default/donetick/kustomization.yaml
  kubernetes/apps/default/donetick/ocirepository.yaml
  kubernetes/clusters/deedee/apps/default/donetick.yaml
  kubernetes/clusters/deedee/apps/default/kustomization.yaml
Due: yamllint, egress-comment, yaml-json-schema

chore(renovate): group kiwix
  .renovate/groups.json5
Due: none

fix(nfs-pod-monitor): add missing events permission
  kubernetes/apps/kube-system/nfs-pod-monitor/helmrelease.yaml
  kubernetes/apps/kube-system/nfs-pod-monitor/rbac.yaml
Due: yamllint, egress-comment, yaml-json-schema

chore(flux): recreate is deprecated
  kubernetes/clusters/deedee/bootstrap/entrypoint.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(recyclarr): assign scores to trash_id instead of name, as they shouldn't change
  kubernetes/apps/media/recyclarr/resources/recyclarr.yml
Due: yamllint, egress-comment, yaml-json-schema

Path conditions:
  shellcheck: any of: *.sh{,.j2}
  tofu: any of: tofu/**/*.{tf,tfvars}
  tflint: any of: tofu/**/*.{tf,tfvars}
  yamllint: any of: *.y*ml
  egress-comment: any of: *.y*ml
  yaml-json-schema: any of: *.y*ml
