Repository deedee-ops/home-ops: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, tofu, tflint, yamllint, egress-comment, yaml-json-schema

lefthook.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/lefthook.json
skip_output:
  - execution
pre-commit:
  parallel: true
  commands:
    shellcheck:
      glob: "*.sh{,.j2}"
      run: shellcheck {staged_files}
    tofu:
      glob: "tofu/**/*.{tf,tfvars}"
      run: tofu fmt -check -diff {staged_files}
    tflint:
      glob: "tofu/**/*.{tf,tfvars}"
      run: tflint --recursive
    yamllint:
      glob: "*.y*ml"
      run: yamllint -s {staged_files}
    egress-comment:
      glob: "*.y*ml"
      run: go-task lint:egress-comment || task lint:egress-comment
    yaml-json-schema:
      glob: "*.y*ml"
      run: go-task lint:yaml-json-schema || task lint:yaml-json-schema
full:
  parallel: true
  commands:
    shellcheck:
      glob: "*.sh{,.j2}"
      run: shellcheck {all_files}
    tofu:
      glob: "tofu/**/*.{tf,tfvars}"
      run: tofu fmt -check -diff {all_files}
    tflint:
      glob: "tofu/**/*.{tf,tfvars}"
      run: tflint --recursive
    yamllint:
      glob: "*.y*ml"
      run: yamllint -s {all_files}
    egress-comment:
      glob: "*.y*ml"
      run: go-task lint:egress-comment || task lint:egress-comment
    yaml-json-schema:
      glob: "*.y*ml"
      run: go-task lint:yaml-json-schema || task lint:yaml-json-schema

WIP
  docker/stacks/komodo/compose.yaml
  truenas/deploy.sh
Due: shellcheck, yamllint, egress-comment, yaml-json-schema

WIP
  truenas/deploy.sh
Due: shellcheck

WIP
  docker/hosts/meemee/komodo.config.sops.toml
  docker/stacks/komodo/compose.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  docker/hosts/meemee/komodo.config.sops.toml
Due: none

WIP
  docker/hosts/meemee/bootstrap/config.sops.toml
  docker/hosts/meemee/bootstrap/komodo.sops.env
  docker/hosts/meemee/resources/stack.node-exporter.toml
  docker/hosts/meemee/resources/sync.toml
  truenas/deploy.sh
Due: shellcheck

WIP
  docker/hosts/meemee/bootstrap/config.sops.toml
  docker/hosts/meemee/bootstrap/komodo.sops.env
Due: none

WIP
  docker/hosts/meemee/bootstrap/config.sops.toml
  docker/hosts/meemee/bootstrap/komodo.sops.env
  docker/stacks/komodo/compose.env
  truenas/deploy.sh
Due: shellcheck

WIP
  docker/hosts/meemee/bootstrap/config.sops.toml
Due: none

WIP
  docker/hosts/meemee/bootstrap/config.sops.toml
  docker/stacks/komodo/compose.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  docker/hosts/meemee/resources/procedure.backup.toml
  docker/hosts/meemee/resources/server.meemee.toml
  docker/hosts/meemee/resources/sync.gitops.toml
  docker/stacks/komodo/compose.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  docker/hosts/meemee/resources/procedure.sync.toml
Due: none

WIP
  docker/hosts/meemee/resources/stack.smartctl-exporter.toml
  docker/stacks/smartctl-exporter/compose.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  docker/hosts/meemee/resources/action.sync-sops.toml
  docker/hosts/meemee/resources/stack.traefik.toml
  docker/stacks/komodo/compose.env
  docker/stacks/komodo/compose.yaml
  docker/stacks/traefik/compose.yaml
  docker/stacks/traefik/config/extra/dashboard.yaml
  docker/stacks/traefik/config/traefik.yaml
  truenas/deploy.sh
Due: shellcheck, yamllint, egress-comment, yaml-json-schema

WIP
  docker/stacks/komodo/compose.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  docker/hosts/meemee/bootstrap/komodo.sops.env
Due: none

WIP
  docker/hosts/meemee/resources/stack.traefik.toml
  docker/hosts/meemee/secrets/traefik.sops.env
Due: none

WIP
  docker/hosts/meemee/resources/action.sync-sops.toml.disabled
  docker/hosts/meemee/resources/stack.traefik.toml
  truenas/deploy.sh
Due: shellcheck

WIP
  docker/hosts/meemee/resources/stack.traefik.toml
Due: none

WIP
  docker/stacks/traefik/compose.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  docker/stacks/traefik/compose.yaml
  truenas/deploy.sh
Due: shellcheck, yamllint, egress-comment, yaml-json-schema

WIP
  docker/stacks/traefik/config/traefik.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  docker/hosts/meemee/resources/stack.traefik.toml
  docker/stacks/traefik/compose.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  docker/hosts/meemee/overlays/traefik/config/extra/truenas.yaml
  docker/hosts/meemee/resources/stack.traefik.toml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  docker/hosts/meemee/resources/stack.traefik.toml
  truenas/deploy.sh
Due: shellcheck

WIP
  docker/hosts/meemee/resources/stack.node-exporter.toml
Due: none

WIP
  docker/hosts/meemee/resources/stack.rustfs.toml
  docker/hosts/meemee/secrets/rustfs.sops.env
  docker/stacks/rustfs/compose.env
  docker/stacks/rustfs/compose.yaml
  rustfs/.rustfs.sys/buckets/.usage.json/xl.meta
  rustfs/.rustfs.sys/config/config.json/xl.meta
  rustfs/.rustfs.sys/config/iam/format.json/xl.meta
  rustfs/.rustfs.sys/config/tier-config.json/ab544fdb-a4b3-41da-a239-c3ac427e5fed/part.1
  rustfs/.rustfs.sys/config/tier-config.json/xl.meta
  rustfs/.rustfs.sys/datausage/d6533f89-1527-4b4b-bf2e-48a89471af94.json
  rustfs/.rustfs.sys/datausage/state/d6533f89-1527-4b4b-bf2e-48a89471af94.json
  rustfs/.rustfs.sys/format.json
  rustfs/.rustfs.sys/pool.bin/50f34ad7-3091-4cbc-b178-175e6ae03b42/part.1
  rustfs/.rustfs.sys/pool.bin/xl.meta
  rustfs/.rustfs.sys/tmp/.trash/220cd93a-e426-4bd2-aa1d-dc0b72581b4f/xl.meta
  rustfs/.rustfs.sys/tmp/.trash/92a7cca4-6855-4a98-89f6-46a54b4671ff/xl.meta
  rustfs/.rustfs.sys/tmp/.trash/af260ba0-1c20-484f-966c-a5607dd55cc1/xl.meta
  rustfs/.rustfs.sys/tmp/.trash/eb4f5793-01cb-4c78-88c0-4f280ade03a5/xl.meta
Due: yamllint, egress-comment, yaml-json-schema

WIP
  docker/hosts/meemee/resources/stack.rustfs.toml
Due: none

WIP
  docker/stacks/rustfs/compose.env
Due: none

WIP
  docker/hosts/meemee/resources/stack.rustfs.toml
  docker/stacks/rustfs/compose.yaml
Due: yamllint, egress-comment, yaml-json-schema
