Repository deedee-ops/home-ops: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, tofu, tflint, yamllint, egress-comment, yaml-json-schema

shellcheck:
  run: shellcheck {staged_files}

tofu:
  run: tofu fmt -check -diff {staged_files}

tflint:
  run: tflint --recursive

yamllint:
  run: yamllint -s {staged_files}

egress-comment:
  run: go-task lint:egress-comment || task lint:egress-comment

yaml-json-schema:
  run: go-task lint:yaml-json-schema || task lint:yaml-json-schema

feat(home-assistant): expose cameras for home-assistant
  docker/hosts/meemee/resources/resource_sync.cameras.toml
  docker/hosts/meemee/resources/resource_sync.gitops.toml
Due: none

fix(caddy-docker-proxy): rewrite obsidian properly
  docker/stacks/caddy-docker-proxy/compose.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(migadu): provision all migadu mailboxes, aliases and identities via terraform
  opentofu/anonaddy-dns.tf
  opentofu/cloudflare-redirects.tf
  opentofu/cloudflare-tunnel.tf
  opentofu/locals.tf
  opentofu/main.tf
  opentofu/migadu-dns.tf
  opentofu/migadu-emails.tf
  opentofu/providers.tf
  opentofu/variables.tf
Due: none

fix(minio): MINIO_SERVER_URL is obsolete
  docker/hosts/meemee/resources/stack.minio.toml
Due: none

fix(snmp-exporter): use quay.io image
  docker/stacks/snmp-exporter/compose.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(caddy): add ssl cert synchronizing script
  docker/stacks/caddy-docker-proxy/compose.yaml
  docker/stacks/caddy-docker-proxy/config/sync-certs.sh
  docker/stacks/komodo/compose.yaml
Due: shellcheck, yamllint, egress-comment, yaml-json-schema

chore: change root domain
  kubernetes/clusters/deedee/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(meemee): add camera endpoints for home assistant
  docker/hosts/meemee/resources/build.cameras.toml
  docker/stacks/komodo-periphery/compose.yaml
  docker/stacks/komodo/compose.yaml
  docker/stacks/registry/compose.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(docker): fix broken registry
  docker/stacks/registry/compose.env
  docker/stacks/registry/compose.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(docker): fix broken registry
  docker/stacks/registry/compose.env
  docker/stacks/registry/compose.yaml
  docker/stacks/talos-factory/compose.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(docker): fix broken registry
  docker/stacks/registry/compose.yaml
  docker/stacks/registry/registry-ui.env
  docker/stacks/registry/registry.env
  docker/stacks/talos-factory/compose.yaml
Due: yamllint, egress-comment, yaml-json-schema

chore: try to lower electricity bill
  kubernetes/apps/external/cloudflare-tunnel/values.yaml
  kubernetes/apps/kube-system/cilium/values.yaml
  kubernetes/apps/kube-system/descheduler/values.yaml
  kubernetes/apps/kube-system/metrics-server/values.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/values.yaml
  talos/deedee/README.md
  talos/deedee/controlplane.yaml.j2
Due: yamllint, egress-comment, yaml-json-schema

chore(renovate): external-dns chart doesn't follow cotnainer version properly, so there is no point in grouping them
  .renovate/groups.json5
Due: none

fix(node-exporter): fix image hash
  .github/workflows/renovate.yaml
  docker/stacks/node-exporter/compose.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(talos): add powertop autotune
  talos/deedee/controlplane.yaml.j2
Due: none

fix(argocd): fix webhook
  kubernetes/apps/external/cloudflare-tunnel/values.yaml
  opentofu/cloudflare-redirects.tf
  opentofu/locals.tf
  opentofu/variables.tf
Due: yamllint, egress-comment, yaml-json-schema

feat: add snapshot-controller
  .ylsignore
  kubernetes/apps/kube-system/snapshot-controller/Chart.yaml
  kubernetes/apps/kube-system/snapshot-controller/argocd.yaml
  kubernetes/apps/kube-system/snapshot-controller/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat: add rook-ceph-cluster
  .ylsignore
  kubernetes/apps/rook-ceph/rook-ceph-cluster/Chart.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/argocd.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/templates/httproute.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/values.yaml
  kubernetes/apps/rook-ceph/rook-ceph-operator/Chart.yaml
  kubernetes/apps/rook-ceph/rook-ceph-operator/argocd.yaml
  kubernetes/apps/rook-ceph/rook-ceph-operator/templates/externalsecret.yaml
  kubernetes/apps/rook-ceph/rook-ceph-operator/values.yaml
  kubernetes/clusters/deedee/application.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat: add intel-device-plugin-operator
  .ylsignore
  kubernetes/apps/kube-system/intel-device-plugin-operator/Chart.yaml
  kubernetes/apps/kube-system/intel-device-plugin-operator/argocd.yaml
  kubernetes/apps/kube-system/intel-device-plugin-operator/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(argocd): refactor values builder
  kubernetes/apps/rook-ceph/rook-ceph-cluster/values.yaml
  kubernetes/clusters/deedee/application.yaml
  kubernetes/clusters/deedee/values.yaml
  kubernetes/lib/cluster-provisioner/templates/appset.yaml
  kubernetes/lib/cluster-provisioner/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(caddy): generate old RSA certificates for IPXE
  docker/stacks/caddy-docker-proxy/compose.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(deedee): moved talos system to NVMe disk
  .ylsignore
  talos/deedee/controlplane.yaml.j2
  talos/deedee/nodes/10.42.20.11.yaml.j2
  talos/deedee/nodes/10.42.20.12.yaml.j2
  talos/deedee/nodes/10.42.20.13.yaml.j2
Due: none

fix(bootstrap): fix various quirks, breaking up clean bootstrap
  bootstrap/helmfile.yaml
  bootstrap/resources.yaml.j2
  kubernetes/apps/argocd/argo-cd/templates/externalsecret.yaml
  kubernetes/apps/argocd/argo-cd/templates/httproute.yaml
  kubernetes/apps/argocd/argo-cd/values.yaml
  kubernetes/apps/external-secrets/external-secrets/templates/secret.yaml
  kubernetes/apps/kube-system/cilium/templates/certificate.yaml
  kubernetes/apps/kube-system/cilium/templates/external.yaml
  kubernetes/apps/kube-system/cilium/templates/httproute.yaml
  kubernetes/apps/kube-system/cilium/templates/internal.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/argocd.yaml
  kubernetes/lib/cluster-provisioner/templates/appset.yaml
  schemas/argocd.json
Due: yamllint, egress-comment, yaml-json-schema

fix(bootstrap): fix various quirks, breaking up clean bootstrap
  bootstrap/helmfile.yaml
  bootstrap/resources.yaml.j2
  kubernetes/apps/argocd/argo-cd/templates/externalsecret.yaml
  kubernetes/apps/argocd/argo-cd/templates/httproute.yaml
  kubernetes/apps/argocd/argo-cd/values.yaml
  kubernetes/apps/cert-manager/cert-manager/values.yaml
  kubernetes/apps/external-secrets/external-secrets/templates/secret.yaml
  kubernetes/apps/kube-system/cilium/templates/certificate.yaml
  kubernetes/apps/kube-system/cilium/templates/external.yaml
  kubernetes/apps/kube-system/cilium/templates/httproute.yaml
  kubernetes/apps/kube-system/cilium/templates/internal.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/argocd.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/values.yaml
  kubernetes/lib/cluster-provisioner/templates/appset.yaml
  schemas/argocd.json
  talos/deedee/controlplane.yaml.j2
Due: yamllint, egress-comment, yaml-json-schema

feat: add kube-prometheus-stack
  .ylsignore
  kubernetes/apps/external/namespace.yaml
  kubernetes/apps/observability/kube-prometheus-stack/Chart.yaml
  kubernetes/apps/observability/kube-prometheus-stack/argocd.yaml
  kubernetes/apps/observability/kube-prometheus-stack/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/observability/kube-prometheus-stack/templates/scrapeconfig.yaml
  kubernetes/apps/observability/kube-prometheus-stack/values.yaml
  kubernetes/clusters/deedee/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat: add unpoller
  kubernetes/apps/observability/unpoller/Chart.yaml
  kubernetes/apps/observability/unpoller/argocd.yaml
  kubernetes/apps/observability/unpoller/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/observability/unpoller/templates/externalsecret.yaml
  kubernetes/apps/observability/unpoller/values.yaml
  kubernetes/clusters/deedee/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat: add smartctl-exporter
  .ylsignore
  kubernetes/apps/observability/smartctl-exporter/Chart.yaml
  kubernetes/apps/observability/smartctl-exporter/argocd.yaml
  kubernetes/apps/observability/smartctl-exporter/templates/prometheusrule.yaml
  kubernetes/apps/observability/smartctl-exporter/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(app-template): use aliases for all app-template charts
  kubernetes/apps/external/cloudflare-tunnel/Chart.yaml
  kubernetes/apps/external/cloudflare-tunnel/values.yaml
  kubernetes/apps/kube-system/irqbalance/Chart.yaml
  kubernetes/apps/kube-system/irqbalance/values.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/Chart.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/values.yaml
  schemas/values.json
Due: yamllint, egress-comment, yaml-json-schema

chore: fix yaml schemas
  kubernetes/apps/external/cloudflare-tunnel/templates/dnsendpoint.yaml
  kubernetes/apps/kube-system/cilium/templates/external.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat: add blackbox-exporter
  .ylsignore
  kubernetes/apps/observability/blackbox-exporter/Chart.yaml
  kubernetes/apps/observability/blackbox-exporter/argocd.yaml
  kubernetes/apps/observability/blackbox-exporter/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/observability/blackbox-exporter/templates/probe.yaml
  kubernetes/apps/observability/blackbox-exporter/values.yaml
  kubernetes/clusters/deedee/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat: add grafana
  .renovate/grafanaDashboards.json5
  .renovaterc.json5
  .ylsignore
  bootstrap/helmfile.yaml
  kubernetes/apps/cert-manager/cert-manager/values.yaml
  kubernetes/apps/external-secrets/external-secrets/values.yaml
  kubernetes/apps/kube-system/cilium/argocd.yaml
  kubernetes/apps/kube-system/cilium/values.yaml
  kubernetes/apps/kube-system/spegel/values.yaml
  kubernetes/apps/observability/grafana/Chart.yaml
  kubernetes/apps/observability/grafana/argocd.yaml
  kubernetes/apps/observability/grafana/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/observability/grafana/templates/externalsecret.yaml
  kubernetes/apps/observability/grafana/values.yaml
  kubernetes/apps/observability/kube-prometheus-stack/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/observability/kube-prometheus-stack/templates/scrapeconfig.tmpl.yaml
  kubernetes/apps/observability/kube-prometheus-stack/templates/scrapeconfig.yaml
  kubernetes/apps/observability/kube-prometheus-stack/values.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/values.yaml
  kubernetes/clusters/deedee/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(cilium): deny access to other pods, for the pods with Internet access
  kubernetes/apps/cert-manager/cert-manager/templates/ciliumnetworkpolicy.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(cilium): harden egress rules
  kubernetes/apps/argocd/namespace.yaml
  kubernetes/apps/cert-manager/namespace.yaml
  kubernetes/apps/external-secrets/namespace.yaml
  kubernetes/apps/external/external-dns-cloudflare/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/external/external-dns-unifi/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/external/namespace.yaml
  kubernetes/apps/kube-system/cilium/argocd.yaml
  kubernetes/apps/kube-system/cilium/templates/ciliumclusterwidenetworkpolicy.yaml
  kubernetes/apps/kube-system/cilium/templates/external.yaml
  kubernetes/apps/kube-system/cilium/templates/httproute.yaml
  kubernetes/apps/kube-system/cilium/templates/internal.yaml
  kubernetes/apps/observability/kube-prometheus-stack/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/openebs-system/namespace.yaml
  kubernetes/apps/rook-ceph/namespace.yaml
  kubernetes/apps/system-upgrade/namespace.yaml
Due: yamllint, egress-comment, yaml-json-schema

chore: rename "external" to "network"
  kubernetes/apps/external/namespace.yaml
  kubernetes/apps/network/cloudflare-tunnel/Chart.yaml
  kubernetes/apps/network/cloudflare-tunnel/argocd.yaml
  kubernetes/apps/network/cloudflare-tunnel/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/network/cloudflare-tunnel/templates/configmap.yaml
  kubernetes/apps/network/cloudflare-tunnel/templates/dnsendpoint.yaml
  kubernetes/apps/network/cloudflare-tunnel/templates/externalsecret.yaml
  kubernetes/apps/network/cloudflare-tunnel/values.yaml
  kubernetes/apps/network/external-dns-cloudflare/Chart.yaml
  kubernetes/apps/network/external-dns-cloudflare/argocd.yaml
  kubernetes/apps/network/external-dns-cloudflare/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/network/external-dns-cloudflare/templates/externalsecret.yaml
  kubernetes/apps/network/external-dns-cloudflare/values.yaml
  kubernetes/apps/network/external-dns-unifi/Chart.yaml
  kubernetes/apps/network/external-dns-unifi/argocd.yaml
  kubernetes/apps/network/external-dns-unifi/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/network/external-dns-unifi/templates/externalsecret.yaml
  kubernetes/apps/network/external-dns-unifi/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat: add smtp-relay
  kubernetes/apps/network/smtp-relay/Chart.yaml
  kubernetes/apps/network/smtp-relay/argocd.yaml
  kubernetes/apps/network/smtp-relay/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/network/smtp-relay/templates/configmap.yaml
  kubernetes/apps/network/smtp-relay/templates/externalsecret.yaml
  kubernetes/apps/network/smtp-relay/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat: add alertmanager
  kubernetes/apps/argocd/argo-cd/templates/httproute.yaml
  kubernetes/apps/network/smtp-relay/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/network/smtp-relay/templates/configmap.yaml
  kubernetes/apps/observability/grafana/values.yaml
  kubernetes/apps/observability/kube-prometheus-stack/templates/alertmanagerconfig.yaml
  kubernetes/apps/observability/kube-prometheus-stack/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/observability/kube-prometheus-stack/templates/externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/values.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/templates/httproute.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(argocd): add support for `serverSideApply` (and diff) option
  kubernetes/apps/observability/kube-prometheus-stack/argocd.yaml
  kubernetes/lib/cluster-provisioner/templates/appset.yaml
  schemas/argocd.json
Due: yamllint, egress-comment, yaml-json-schema

feat(rook-ceph): automatically wipe OSDs during cluster provisioning
  .taskfiles/bootstrap/Taskfile.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/values.yaml
  scripts/bootstrap-cluster.sh
Due: shellcheck, yamllint, egress-comment, yaml-json-schema

Path conditions:
  shellcheck: any of: *.sh{,.j2}
  tofu: any of: tofu/**/*.{tf,tfvars}
  tflint: any of: tofu/**/*.{tf,tfvars}
  yamllint: any of: *.y*ml
  egress-comment: any of: *.y*ml
  yaml-json-schema: any of: *.y*ml
