Repository deedee-ops/home-ops: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, tofu, tflint, yamllint, egress-comment, yaml-json-schema

lefthook.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/lefthook.json
skip_output:
  - execution
pre-commit:
  parallel: true
  commands:
    shellcheck:
      glob: "*.sh{,.j2}"
      run: shellcheck {staged_files}
    tofu:
      glob: "tofu/**/*.{tf,tfvars}"
      run: tofu fmt -check -diff {staged_files}
    tflint:
      glob: "tofu/**/*.{tf,tfvars}"
      run: tflint --recursive
    yamllint:
      glob: "*.y*ml"
      run: yamllint -s {staged_files}
    egress-comment:
      glob: "*.y*ml"
      run: go-task lint:egress-comment || task lint:egress-comment
    yaml-json-schema:
      glob: "*.y*ml"
      run: go-task lint:yaml-json-schema || task lint:yaml-json-schema
full:
  parallel: true
  commands:
    shellcheck:
      glob: "*.sh{,.j2}"
      run: shellcheck {all_files}
    tofu:
      glob: "tofu/**/*.{tf,tfvars}"
      run: tofu fmt -check -diff {all_files}
    tflint:
      glob: "tofu/**/*.{tf,tfvars}"
      run: tflint --recursive
    yamllint:
      glob: "*.y*ml"
      run: yamllint -s {all_files}
    egress-comment:
      glob: "*.y*ml"
      run: go-task lint:egress-comment || task lint:egress-comment
    yaml-json-schema:
      glob: "*.y*ml"
      run: go-task lint:yaml-json-schema || task lint:yaml-json-schema

feat: remove keda
  bootstrap/helmfile.d/00-crds.yaml
  kubernetes/apps/default/n8n/scaledobject.yaml
  kubernetes/apps/home/zigbee2mqtt/scaledobject.yaml
  kubernetes/apps/immich-system/immich/scaledobject.yaml
  kubernetes/apps/kube-system/roles/cluster-reader.yaml
  kubernetes/apps/media/bazarr/scaledobject.yaml
  kubernetes/apps/media/beets-flask/scaledobject.yaml
  kubernetes/apps/media/pinchflat/scaledobject.yaml
  kubernetes/apps/media/slskd/scaledobject.yaml
  kubernetes/apps/observability/keda/grafanadashboard.yaml
  kubernetes/apps/observability/keda/helmrelease.yaml
  kubernetes/apps/observability/keda/kustomization.yaml
  kubernetes/apps/observability/keda/ocirepository.yaml
  kubernetes/apps/observability/keda/silence.yaml
  kubernetes/apps/observability/kube-prometheus-stack/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/networkpolicy.yaml
  kubernetes/clusters/deedee/apps/observability/keda.yaml
  kubernetes/clusters/deedee/apps/observability/kustomization.yaml
  kubernetes/components/nfs-scaler/scaledobject.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat: implement HPA based autoscaling
  kubernetes/apps/default/n8n/hpa.yaml
  kubernetes/apps/home/zigbee2mqtt/hpa.yaml
  kubernetes/apps/home/zigbee2mqtt/kustomization.yaml
  kubernetes/apps/immich-system/immich/hpa.yaml
  kubernetes/apps/immich-system/immich/kustomization.yaml
  kubernetes/apps/media/bazarr/hpa.yaml
  kubernetes/apps/media/bazarr/kustomization.yaml
  kubernetes/apps/media/beets-flask/hpa.yaml
  kubernetes/apps/media/beets-flask/kustomization.yaml
  kubernetes/apps/media/pinchflat/hpa.yaml
  kubernetes/apps/media/pinchflat/kustomization.yaml
  kubernetes/apps/media/slskd/hpa.yaml
  kubernetes/apps/media/slskd/kustomization.yaml
  kubernetes/apps/observability/blackbox-exporter/lan/helmrelease.yaml
  kubernetes/apps/observability/blackbox-exporter/lan/probes.yaml
  kubernetes/apps/observability/kube-prometheus-stack/helmrelease.yaml
  kubernetes/apps/observability/prometheus-adapter/helmrelease.yaml
  kubernetes/apps/observability/prometheus-adapter/kustomization.yaml
  kubernetes/apps/observability/prometheus-adapter/networkpolicy.yaml
  kubernetes/apps/observability/prometheus-adapter/ocirepository.yaml
  kubernetes/apps/observability/prometheus-adapter/prometheusrule.yaml
  kubernetes/clusters/deedee/apps/default/paperless-ngx.yaml
  kubernetes/clusters/deedee/apps/default/syncthing.yaml
  kubernetes/clusters/deedee/apps/home/frigate.yaml
  kubernetes/clusters/deedee/apps/media/jellyfin.yaml
  kubernetes/clusters/deedee/apps/media/kavita.yaml
  kubernetes/clusters/deedee/apps/media/navidrome.yaml
  kubernetes/clusters/deedee/apps/media/pyload.yaml
  kubernetes/clusters/deedee/apps/media/qbittorrent.yaml
  kubernetes/clusters/deedee/apps/media/qui.yaml
  kubernetes/clusters/deedee/apps/media/radarr.yaml
  kubernetes/clusters/deedee/apps/media/sabnzbd.yaml
  kubernetes/clusters/deedee/apps/media/sonarr.yaml
  kubernetes/clusters/deedee/apps/observability/kustomization.yaml
  kubernetes/clusters/deedee/apps/observability/prometheus-adapter.yaml
  kubernetes/clusters/deedee/apps/volsync-system/kopia.yaml
  kubernetes/components/nfs-scaler/hpa.yaml
  kubernetes/components/nfs-scaler/kustomization.yaml
  talos/deedee/machineconfig.yaml.j2
Due: yamllint, egress-comment, yaml-json-schema

docs: mention towonel in README
  README.md
Due: none

fix(container): update image public.ecr.aws/docker/library/influxdb (7f65020 ➔ 41a5ef9) (#543)
  kubernetes/apps/default/garmin/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(container): update image ghcr.io/searxng/searxng (2026.8.3-0734ee6c7 ➔ 2026.8.5-1689cb1b5) (#541)
  kubernetes/apps/default/searxng/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(container): update image ghcr.io/home-operations/prowlarr (2.6.0.5494 ➔ 2.6.1.5509) (#539)
  kubernetes/apps/media/prowlarr/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(container): update image ghcr.io/home-operations/charts/tuppr (0.4.6 ➔ 0.4.7) (#548)
  kubernetes/apps/system-upgrade/tuppr/ocirepository.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(container): update image maximhq/bifrost (v1.6.7 ➔ v1.6.8) (#547)
  kubernetes/apps/ai/bifrost/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(container): update image ghcr.io/home-operations/sonarr (4.0.19.2995 ➔ 4.0.19.2997) (#546)
  kubernetes/apps/media/sonarr/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(container): update image ghcr.io/aclerici38/charts/pocket-id-operator (0.12.1 ➔ 0.12.2) (#544)
  kubernetes/apps/security/pocket-id-operator/ocirepository.yaml
Due: yamllint, egress-comment, yaml-json-schema

chore(renovate): group talos toolset
  .renovate/groups.json5
Due: none

fix(container): update image ghcr.io/home-operations/radarr (6.4.0.10540 ➔ 6.4.1.10545) (#549)
  kubernetes/apps/media/radarr/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(container): update siderolabs/talos (v1.13.7 ➔ v1.13.8)
  docker/matchbox/config/assets/talos-nuc-12.ipxe
  kubernetes/apps/system-upgrade/upgrades/talosupgrade.yaml
  talos/deedee/machineconfig.yaml.j2
Due: yamllint, egress-comment, yaml-json-schema

fix(container): update talos group (v1.13.7 ➔ v1.13.8) (#550)
  docker/matchbox/config/assets/talos-nuc-12.ipxe
  kubernetes/apps/system-upgrade/maintenance/etcd.yaml
  kubernetes/apps/system-upgrade/upgrades/talosupgrade.yaml
  talos/deedee/machineconfig.yaml.j2
Due: yamllint, egress-comment, yaml-json-schema

fix(container): update image ghcr.io/syncthing/syncthing (2.1.2 ➔ 2.1.3) (#552)
  kubernetes/apps/default/syncthing/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(container): update image ghcr.io/home-operations/radarr (6.4.0.10540 ➔ 6.4.1.10545) (#551)
  kubernetes/apps/media/radarr/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(deps): update terraform cloudflare (5.22.0 ➔ 5.23.0) (#554)
  opentofu/main.tf
Due: none

feat(container): update image ghcr.io/home-operations/home-assistant (2026.7.4 ➔ 2026.8.0) (#553)
  kubernetes/apps/home/home-assistant/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(container): update image ghcr.io/autobrr/qui (v1.24.0 ➔ v1.25.0) (#555)
  kubernetes/apps/media/qui/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(container): update image ghcr.io/getarcaneapp/agent (v2.6.0 ➔ v2.7.0) (#556)
  docker/arcane-agent/compose.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(reloader): remove global autoreloader, as it messes with operators managing pods
  kubernetes/apps/ai/bifrost/helmrelease.yaml
  kubernetes/apps/ai/hermes-agent/helmrelease.yaml
  kubernetes/apps/ai/honcho/helmrelease.yaml
  kubernetes/apps/default/copyparty/helmrelease.yaml
  kubernetes/apps/default/davis/helmrelease.yaml
  kubernetes/apps/default/discord-bots/helmrelease.yaml
  kubernetes/apps/default/firefly/helmrelease.yaml
  kubernetes/apps/default/glance/helmrelease.yaml
  kubernetes/apps/default/karakeep/helmrelease.yaml
  kubernetes/apps/default/mail-archive/helmrelease.yaml
  kubernetes/apps/default/n8n/helmrelease.yaml
  kubernetes/apps/default/paperless-ngx/helmrelease.yaml
  kubernetes/apps/default/searxng/helmrelease.yaml
  kubernetes/apps/default/vaultwarden/helmrelease.yaml
  kubernetes/apps/default/wakapi/helmrelease.yaml
  kubernetes/apps/home/frigate/helmrelease.yaml
  kubernetes/apps/home/home-assistant/helmrelease.yaml
  kubernetes/apps/home/mosquitto/helmrelease.yaml
  kubernetes/apps/home/zigbee2mqtt/helmrelease.yaml
  kubernetes/apps/immich-system/immich/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/helmrelease.yaml
  kubernetes/apps/media/bazarr/helmrelease.yaml
  kubernetes/apps/media/jellyfin/helmrelease.yaml
  kubernetes/apps/media/kavita/helmrelease.yaml
  kubernetes/apps/media/prowlarr/helmrelease.yaml
  kubernetes/apps/media/qui/helmrelease.yaml
  kubernetes/apps/media/radarr/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/helmrelease.yaml
  kubernetes/apps/media/slskd/helmrelease.yaml
  kubernetes/apps/media/sonarr/helmrelease.yaml
  kubernetes/apps/observability/gatus/helmrelease.yaml
  kubernetes/apps/observability/unpoller/helmrelease.yaml
  kubernetes/apps/shelf-system/shelf/helmrelease.yaml
  kubernetes/apps/volsync-system/kopia/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(container): update image ghcr.io/mogenius/helm-charts/renovate-operator (5.5.0 ➔ 5.6.0) (#559)
  kubernetes/apps/forgejo-system/renovate/operator/ocirepository.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(container): update image ghcr.io/dragonflydb/dragonfly (v1.40.0 ➔ v1.40.1) (#558)
  kubernetes/components/dragonfly/cluster.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(container): update image hwdsl2/whisper-server (120e4b7 ➔ 0b03ecb) (#557)
  kubernetes/apps/ai/whisper/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(deps): update terraform migadu (2026.7.23 ➔ 2026.8.6) (#560)
  opentofu/main.tf
Due: none

fix(container): update image ghcr.io/recyclarr/recyclarr (8.7.0 ➔ 8.7.1) (#561)
  kubernetes/apps/media/recyclarr/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(container): update image mirror.gcr.io/prompp/prompp (0.8.6 ➔ 0.8.7) (#562)
  kubernetes/apps/observability/kube-prometheus-stack/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema

chore(renovate): adjust home-operations renovate-presets
  .renovaterc.json5
Due: none

WIP
  .gitignore
  ansible/requirements.yaml
  ansible/roles/nut/defaults/main.yaml
  ansible/roles/nut/templates/ups.conf.j2
  ansible/roles/nut/templates/upsmon.conf.j2
  ansible/roles/ups-cascade/README.md
  ansible/roles/ups-cascade/defaults/main.yaml
  ansible/roles/ups-cascade/files/ups_cascade.py
  ansible/roles/ups-cascade/handlers/main.yaml
  ansible/roles/ups-cascade/meta/main.yaml
  ansible/roles/ups-cascade/tasks/main.yaml
  ansible/roles/ups-cascade/templates/logrotate.j2
  ansible/roles/ups-cascade/templates/ups-cascade-recover.service.j2
  ansible/roles/ups-cascade/templates/ups-cascade-shutdown.j2
  ansible/roles/ups-cascade/templates/ups-cascade.env.j2
  ansible/roles/ups-cascade/templates/ups-cascade.service.j2
  ansible/site.yaml
  scripts/CLAUDE.talos-shutdown.md
  scripts/talos-shutdown.sh
Due: shellcheck, yamllint, egress-comment, yaml-json-schema

feat(container)!: Update flux-operator group (#566)
  bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/flux-system/flux-instance/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/ocirepository.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(container): update image ghcr.io/stakater/charts/reloader (2.2.14 ➔ 2.2.15) (#564)
  kubernetes/apps/kube-system/reloader/ocirepository.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(container): update image ghcr.io/unpoller/unpoller (v3.3.4 ➔ v3.4.0) (#565)
  kubernetes/apps/observability/unpoller/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema

chore(renovate-config)!: Update config home-operations/renovate-presets (6.0.0 ➔ 7.0.0)
  .renovaterc.json5
Due: none

chore(renovate): adjust home-operations renovate-presets
  .renovate/exclusions.json5
  .renovaterc.json5
Due: none

fix(container): update image maximhq/bifrost (v1.6.8 ➔ v1.6.9) (#570)
  kubernetes/apps/ai/bifrost/helmrelease.yaml
Due: yamllint, egress-comment, yaml-json-schema
