Repository deedee-ops/home-ops: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, tofu, tflint, yamllint, egress-comment, yaml-json-schema

lefthook.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/lefthook.json
skip_output:
  - execution
pre-commit:
  parallel: true
  commands:
    shellcheck:
      glob: "*.sh{,.j2}"
      run: shellcheck {staged_files}
    tofu:
      glob: "tofu/**/*.{tf,tfvars}"
      run: tofu fmt -check -diff {staged_files}
    tflint:
      glob: "tofu/**/*.{tf,tfvars}"
      run: tflint --recursive
    yamllint:
      glob: "*.y*ml"
      run: yamllint -s {staged_files}
    egress-comment:
      glob: "*.y*ml"
      run: go-task lint:egress-comment || task lint:egress-comment
    yaml-json-schema:
      glob: "*.y*ml"
      run: go-task lint:yaml-json-schema || task lint:yaml-json-schema
full:
  parallel: true
  commands:
    shellcheck:
      glob: "*.sh{,.j2}"
      run: shellcheck {all_files}
    tofu:
      glob: "tofu/**/*.{tf,tfvars}"
      run: tofu fmt -check -diff {all_files}
    tflint:
      glob: "tofu/**/*.{tf,tfvars}"
      run: tflint --recursive
    yamllint:
      glob: "*.y*ml"
      run: yamllint -s {all_files}
    egress-comment:
      glob: "*.y*ml"
      run: go-task lint:egress-comment || task lint:egress-comment
    yaml-json-schema:
      glob: "*.y*ml"
      run: go-task lint:yaml-json-schema || task lint:yaml-json-schema

feat(helm)!: Update kube-prometheus-stack ( 63.1.0 → 64.0.0 )
  kubernetes/apps/monitoring/kube-prometheus-stack/Chart.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(argocd): revert: add custom image with fixed helm
  kubernetes/apps/argocd/argocd/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(github-action): remove duplicate linting
  .github/workflows/linter.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(qbittorrent): remove qbtools-tagging
  kubernetes/apps/workers/qbittorrent/files/config.yaml
  kubernetes/apps/workers/qbittorrent/templates/config.tmpl.yaml
  kubernetes/apps/workers/qbittorrent/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(spegel): remove spegel talos 1.8.0 containerd v2 compatibility hack
  kubernetes/apps/tools/spegel/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(lldap): fix tag versioning
  kubernetes/apps/default/lldap/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(immich): provision immich DB with initdb
  flake.nix
  kubernetes/apps/default/immich/files/initdb.sql
  kubernetes/apps/default/immich/templates/config.tmpl.yaml
  kubernetes/apps/default/immich/templates/initdb.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(spegel): temporary fix of spegel for talos 1.8.0
  kubernetes/apps/tools/spegel/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(pod-gateway): expose tun for pod-gateway
  kubernetes/apps/networking/pod-gateway/values.yaml
  kubernetes/apps/tools/generic-device-plugin/Chart.yaml
  kubernetes/apps/tools/generic-device-plugin/application.yaml
  kubernetes/apps/tools/generic-device-plugin/files/config.yaml
  kubernetes/apps/tools/generic-device-plugin/templates/config.tmpl.yaml
  kubernetes/apps/tools/generic-device-plugin/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

chore(renovate): group SUC updates
  .github/renovate/groups.json5
Due: none

feat(invidious): add signature server
  kubernetes/apps/default/invidious/files/config.yml
  kubernetes/apps/default/invidious/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(argocd): add custom image with fixed helm
  kubernetes/apps/argocd/argocd/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(nix): ignore attic push errors
  nix/modules/attic-client.nix
Due: none

fix(spegel): update spegel image to auto-built one
  kubernetes/apps/tools/spegel/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

docs: add archival note
  README.md
  docs/INSTALL.md
Due: none

feat: add reloader
  kubernetes/apps/kube-system/reloader/Chart.yaml
  kubernetes/apps/kube-system/reloader/argocd.yaml
  kubernetes/apps/kube-system/reloader/values.yaml
  schemas/values.json
Due: yamllint, egress-comment, yaml-json-schema

feat: add descheduler
  .ylsignore
  kubernetes/apps/kube-system/descheduler/Chart.yaml
  kubernetes/apps/kube-system/descheduler/argocd.yaml
  kubernetes/apps/kube-system/descheduler/values.yaml
  talos/deedee/controlplane.yaml.j2
Due: yamllint, egress-comment, yaml-json-schema

chore: ensure current cluster is set on direnv switch
  .env
  .envrc
  flake.nix
  kubernetes/clusters/deedee/values.yaml
  scripts/_lib.sh
Due: shellcheck, yamllint, egress-comment, yaml-json-schema

feat: add system update controller
  kubernetes/apps/external/cloudflare-tunnel/templates/configmap.yaml
  kubernetes/apps/system-upgrade/README.md
  kubernetes/apps/system-upgrade/system-upgrade-controller/Chart.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/argocd.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/templates/plans/kubernetes.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/templates/plans/talos.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/templates/rbac.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/values.yaml
  kubernetes/lib/cluster-provisioner/templates/appset.yaml
  schemas/argocd.json
  schemas/talos.dev-serviceaccount_v1alpha1.json
Due: yamllint, egress-comment, yaml-json-schema

chore: don't be _too_ smart
  .env
Due: none

fix(cilium): fix multilple `ContainerStatusUnknown` for operator after restart
  kubernetes/apps/kube-system/cilium/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

chore(nix): use new nix cache endpoint
  flake.lock
  flake.nix
  talos/deedee/controlplane.yaml.j2
Due: none

feat(komodo): update ferretdb to v2
  docker/stacks/komodo/compose.env
  docker/stacks/komodo/compose.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(opentofu): add support for all my domains
  opentofu/anonaddy-dns.tf
  opentofu/cloudflare-dns.tf
  opentofu/cloudflare-firewall.tf
  opentofu/cloudflare-redirects.tf
  opentofu/cloudflare-tunnel.tf
  opentofu/locals.tf
  opentofu/migadu-dns.tf
  opentofu/variables.tf
Due: none

feat(meemee): add camera endpoints for home assistant
  docker/hosts/meemee/resources/build.cameras.toml
  docker/stacks/komodo-periphery/compose.yaml
  docker/stacks/komodo/compose.yaml
  docker/stacks/registry/compose.yaml
Due: yamllint, egress-comment, yaml-json-schema
