Repository deedee-ops/home-ops: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, tofu, tflint, yamllint, egress-comment, yaml-json-schema

lefthook.yml:

---
# yaml-language-server: $schema=https://json.schemastore.org/lefthook.json
skip_output:
  - execution
pre-commit:
  parallel: true
  commands:
    shellcheck:
      glob: "*.sh{,.j2}"
      run: shellcheck {staged_files}
    tofu:
      glob: "tofu/**/*.{tf,tfvars}"
      run: tofu fmt -check -diff {staged_files}
    tflint:
      glob: "tofu/**/*.{tf,tfvars}"
      run: tflint --recursive
    yamllint:
      glob: "*.y*ml"
      run: yamllint -s {staged_files}
    egress-comment:
      glob: "*.y*ml"
      run: go-task lint:egress-comment || task lint:egress-comment
    yaml-json-schema:
      glob: "*.y*ml"
      run: go-task lint:yaml-json-schema || task lint:yaml-json-schema
full:
  parallel: true
  commands:
    shellcheck:
      glob: "*.sh{,.j2}"
      run: shellcheck {all_files}
    tofu:
      glob: "tofu/**/*.{tf,tfvars}"
      run: tofu fmt -check -diff {all_files}
    tflint:
      glob: "tofu/**/*.{tf,tfvars}"
      run: tflint --recursive
    yamllint:
      glob: "*.y*ml"
      run: yamllint -s {all_files}
    egress-comment:
      glob: "*.y*ml"
      run: go-task lint:egress-comment || task lint:egress-comment
    yaml-json-schema:
      glob: "*.y*ml"
      run: go-task lint:yaml-json-schema || task lint:yaml-json-schema

feat(home-assistant): expose home assistant as IoT LB IP
  kubernetes/apps/home-iot/home-assistant/values.yaml
  kubernetes/apps/kube-system/cilium/templates/l2.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(prometheus): fix memory usage alerts
  kubernetes/apps/monitoring/kube-prometheus-stack/templates/node_exporter_rules.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(container): update image quay.io/thanos/thanos to v0.33.0
  kubernetes/apps/monitoring/kube-prometheus-stack/values.yaml
  kubernetes/apps/monitoring/thanos/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(container): update image ghcr.io/deedee-ops/paperless-ngx to v2.1.3
  kubernetes/apps/default/paperless-ngx/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(schemas): fix wrong schema urls for prometheus rules
  kubernetes/apps/database/cloudnative-pg/templates/prometheus_rule.yaml
  kubernetes/apps/monitoring/csp-exporter/templates/prometheus_rule.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(container): update image ghcr.io/deedee-ops/gotenberg to v7.10.2
  kubernetes/apps/default/paperless-ngx/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(helm)!: Update chart gitea to 10.0.0
  kubernetes/apps/default/gitea/Chart.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(home-iot): fix failing policies
  kubernetes/apps/home-iot/omada-controller/templates/kyverno.yaml
  kubernetes/apps/home-iot/omada-controller/values.yaml
  kubernetes/apps/home-iot/zigbee2mqtt/templates/kyverno.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(helm): update chart thanos to 12.19.1
  kubernetes/apps/monitoring/thanos/Chart.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(helm): update chart thanos to 12.20.0
  kubernetes/apps/monitoring/thanos/Chart.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-10
  kubernetes/apps/database/cloudnative-pg/templates/cluster.yaml
Due: yamllint, egress-comment, yaml-json-schema

chore(container): update image ghcr.io/deedee-ops/invidious-devel to f113e5d
  kubernetes/apps/default/invidious/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(helm): update chart reloader to 1.0.56
  kubernetes/apps/kube-system/reloader/Chart.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(container): update image ghcr.io/siderolabs/installer to v1.6.0
  kubernetes/apps/kube-system/multus-cni/values.yaml
  tofu/talos_cluster/bootstrap.tf
Due: tofu, tflint, yamllint, egress-comment, yaml-json-schema

feat(helm): update chart intel-device-plugins-gpu to 0.29.0
  kubernetes/apps/kube-system/intel-device-plugin/Chart.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(helm): update chart intel-device-plugins-operator to 0.29.0
  kubernetes/apps/kube-system/intel-device-plugin/Chart.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(container): update image ghcr.io/siderolabs/installer to v1.6.0
  kubernetes/apps/kube-system/multus-cni/values.yaml
  kubernetes/apps/networking/ingress-nginx/Chart.yaml
  tofu/talos_cluster/bootstrap.tf
Due: tofu, tflint, yamllint, egress-comment, yaml-json-schema

fix(container): update image ghcr.io/siderolabs/kubelet to v1.28.5
  tofu/talos_cluster/bootstrap.tf
Due: tofu, tflint

fix(container): update image registry.k8s.io/kube-scheduler to v1.28.5
  tofu/talos_cluster/bootstrap.tf
Due: tofu, tflint

fix(container): update image registry.k8s.io/kube-controller-manager to v1.28.5
  tofu/talos_cluster/bootstrap.tf
Due: tofu, tflint

fix(container): update image registry.k8s.io/kube-apiserver to v1.28.5
  tofu/talos_cluster/bootstrap.tf
Due: tofu, tflint

feat(terraform): update terraform talos to 0.4.0
  tofu/talos_cluster/.terraform.lock.hcl
  tofu/talos_cluster/main.tf
Due: tofu, tflint

feat(container): update image ghcr.io/siderolabs/kubelet to v1.29.0
  tofu/talos_cluster/bootstrap.tf
Due: tofu, tflint

feat(container): update image registry.k8s.io/kube-apiserver to v1.29.0
  tofu/talos_cluster/bootstrap.tf
Due: tofu, tflint

feat(container): update image registry.k8s.io/kube-controller-manager to v1.29.0
  tofu/talos_cluster/bootstrap.tf
Due: tofu, tflint

feat(container): update image registry.k8s.io/kube-scheduler to v1.29.0
  tofu/talos_cluster/bootstrap.tf
Due: tofu, tflint

fix(helm): update chart rook-ceph to v1.13.1
  kubernetes/apps/rook-ceph/rook-ceph/Chart.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(helm): update chart rook-ceph-cluster to v1.13.1
  kubernetes/apps/rook-ceph/rook-ceph-cluster/Chart.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-11
  kubernetes/apps/database/cloudnative-pg/templates/cluster.yaml
Due: yamllint, egress-comment, yaml-json-schema
