Repository deedee-ops/home-ops: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, tofu, tflint, yamllint, egress-comment, yaml-json-schema

shellcheck:
  run: shellcheck {staged_files}

tofu:
  run: tofu fmt -check -diff {staged_files}

tflint:
  run: tflint --recursive

yamllint:
  run: yamllint -s {staged_files}

egress-comment:
  run: go-task lint:egress-comment || task lint:egress-comment

yaml-json-schema:
  run: go-task lint:yaml-json-schema || task lint:yaml-json-schema

fix(minio): freeze minio to last known good version
  .renovate/customVersions.json5
  .renovaterc.json5
  docker/stacks/minio/compose.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(grafana): allow fetching dashboards information from configmaps
  kubernetes/apps/observability/grafana/templates/ciliumnetworkpolicy.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat: add dragonfly operator
  .ylsignore
  kubernetes/apps/database/dragonfly-operator/Chart.yaml
  kubernetes/apps/database/dragonfly-operator/argocd.yaml
  kubernetes/apps/database/dragonfly-operator/templates/ciliumclusterwidenetworkpolicy.yaml
  kubernetes/apps/database/dragonfly-operator/values.yaml
  kubernetes/apps/database/namespace.yaml
  kubernetes/apps/security/authelia/templates/dragonfly.yaml
  kubernetes/apps/security/authelia/templates/podmonitor.yaml
  kubernetes/apps/security/authelia/templates/postgrescluster.yaml
  kubernetes/apps/security/namespace.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  kubernetes/ee/crunchy-monitoring/dashboards/pgbouncer_direct.json
  kubernetes/ee/crunchy-monitoring/templates/prometheus/deployment.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat: add crunchydata postgres operator
  .ylsignore
  kubernetes/apps/argocd/argo-cd/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/database/namespace.yaml
  kubernetes/apps/database/postgres-operator/Chart.yaml
  kubernetes/apps/database/postgres-operator/argocd.yaml
  kubernetes/apps/database/postgres-operator/templates/prometheusrule.yaml
  kubernetes/apps/database/postgres-operator/templates/service.yaml
  kubernetes/apps/database/postgres-operator/templates/servicemonitor.yaml
  kubernetes/apps/database/postgres-operator/values.yaml
  kubernetes/apps/observability/grafana/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/observability/grafana/values.yaml
  kubernetes/apps/observability/kube-prometheus-stack/argocd.yaml
  kubernetes/clusters/deedee/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat: add dragonfly operator
  .ylsignore
  kubernetes/apps/database/dragonfly-operator/Chart.yaml
  kubernetes/apps/database/dragonfly-operator/argocd.yaml
  kubernetes/apps/database/dragonfly-operator/templates/ciliumclusterwidenetworkpolicy.yaml
  kubernetes/apps/database/dragonfly-operator/values.yaml
  kubernetes/apps/database/namespace.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(grafana): enable necessary egress communication
  kubernetes/apps/observability/grafana/templates/ciliumnetworkpolicy.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(alertmanager): fix alerts email sender
  kubernetes/apps/observability/kube-prometheus-stack/templates/alertmanagerconfig.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat: add authelia
  kubernetes/apps/security/authelia/Chart.yaml
  kubernetes/apps/security/authelia/argocd.yaml
  kubernetes/apps/security/authelia/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/security/authelia/templates/configmap.yaml
  kubernetes/apps/security/authelia/templates/dragonfly.yaml
  kubernetes/apps/security/authelia/templates/externalsecret.yaml
  kubernetes/apps/security/authelia/templates/podmonitor.yaml
  kubernetes/apps/security/authelia/templates/postgrescluster.yaml
  kubernetes/apps/security/authelia/values.yaml
  kubernetes/clusters/deedee/values.yaml
  schemas/values.json
Due: yamllint, egress-comment, yaml-json-schema

feat(prometheus): hide behind oauth2-proxy
  kubernetes/apps/observability/kube-prometheus-stack/templates/prometheus.externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(alertmanager): hide behind ouath2-proxy
  kubernetes/apps/observability/kube-prometheus-stack/templates/alertmanager.externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/templates/externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(argocd): add oidc login support
  kubernetes/apps/argocd/argo-cd/templates/externalsecret.yaml
  kubernetes/apps/argocd/argo-cd/templates/httproute.yaml
  kubernetes/apps/argocd/argo-cd/values.yaml
  kubernetes/apps/observability/kube-prometheus-stack/templates/alertmanager.externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/templates/prometheus.externalsecret.yaml
  kubernetes/apps/security/authelia/values.yaml
  kubernetes/clusters/deedee/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(grafana): add oidc login support
  kubernetes/apps/observability/grafana/templates/externalsecret.yaml
  kubernetes/apps/observability/grafana/values.yaml
  kubernetes/apps/security/authelia/templates/configmap.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(rook): diskprediction_local is flaky
  kubernetes/apps/rook-ceph/rook-ceph-cluster/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

chore(deps): lock file maintenance
  flake.lock
Due: none

fix: use sidecar from home-operations
  kubernetes/apps/security/authelia/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  scripts/_lib.sh
  scripts/render-talos-machine-config.sh
  talos/meemee/machineconfig.yaml.j2
  talos/meemee/nodes/10.100.10.10.yaml.j2
Due: shellcheck

WIP
  .env
  .envrc
  .minijinja.toml
  flake.nix
  ge.so
  talos/meemee/machineconfig.yaml.j2
Due: none

WIP
  talos/meemee/machineconfig.yaml.j2
  talos/meemee/schematic.yaml.j2
Due: none

WIP
  ge.so
Due: none

WIP
  .justfile
  bootstrap/helmfile.d/00-crds.yaml
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/mod.just
  bootstrap/resources.yaml.j2
  flake.nix
  talos/mod.just
Due: yamllint, egress-comment, yaml-json-schema

WIP
  bootstrap/crds.yaml
  bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/policy-controller.yaml
  kubernetes/apps/policy-controller/ciliumnetworkpolicy.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/helmfile.d/templates/values.yaml.gotmpl
  kubernetes/apps/cosign-system/policy-controller/app.yaml
  kubernetes/apps/cosign-system/policy-controller/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/kube-system/cilium/README.md
  kubernetes/apps/kube-system/cilium/app.yaml
  kubernetes/apps/kube-system/cilium/templates/ciliumclusterwidenetworkpolicy.yaml
  kubernetes/apps/kube-system/coredns/app.yaml
  kubernetes/apps/kube-system/spegel/app.yaml
  kubernetes/lib/cluster-provisioner/templates/appset.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  .justfile
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/kubernetes/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/mod.just
  scripts/_lib.sh
  scripts/bootstrap-cluster.sh
  scripts/render-talos-machine-config.sh
  talos/mod.just
Due: shellcheck, yamllint, egress-comment, yaml-json-schema

WIP
  .justfile
Due: none

WIP
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/resources.yaml.j2
  kubernetes/apps/argocd/argo-cd/app.yaml
  kubernetes/apps/argocd/argo-cd/templates/ciliumnetworkpolicy.yaml
  kubernetes/clusters/meemee/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  flake.nix
  kubernetes/apps/argocd/argo-cd/app.yaml
  kubernetes/apps/cosign-system/policy-controller/app.yaml
  kubernetes/apps/kube-system/cilium/app.yaml
  kubernetes/apps/kube-system/coredns/app.yaml
  kubernetes/apps/kube-system/spegel/app.yaml
  kubernetes/clusters/meemee/application.yaml
  kubernetes/clusters/meemee/globals.json
Due: yamllint, egress-comment, yaml-json-schema

WIP
  kubernetes/apps/cosign-system/policy-controller/app.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  TODO.md
  kubernetes/apps/external-secrets/onepassword/app.yaml
  kubernetes/apps/external-secrets/onepassword/templates/clustersecretstore.yaml
  kubernetes/clusters/meemee/globals.json
Due: yamllint, egress-comment, yaml-json-schema

WIP
  kubernetes/apps/external-secrets/onepassword/templates/clustersecretstore.yaml.disabled
Due: none

WIP
  TODO.md
  kubernetes/apps/external-secrets/onepassword/app.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  TODO.md
  bootstrap/helmfile.d/00-crds.yaml
  bootstrap/resources.yaml.j2
  kubernetes/apps/external-secrets/external-secrets/app.yaml
  kubernetes/apps/external-secrets/external-secrets/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/external-secrets/onepassword/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/external-secrets/onepassword/templates/clustersecretstore.yaml
  kubernetes/clusters/meemee/globals.json
Due: yamllint, egress-comment, yaml-json-schema

WIP
  kubernetes/apps/external-secrets/external-secrets/templates/ciliumnetworkpolicy.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  kubernetes/apps/argocd/argo-cd/templates/ciliumnetworkpolicy.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  kubernetes/apps/cosign-system/policy-controller/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/external-secrets/external-secrets/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/external-secrets/onepassword/templates/ciliumnetworkpolicy.yaml
Due: yamllint, egress-comment, yaml-json-schema

WIP
  kubernetes/apps/external-secrets/onepassword/templates/clustersecretstore.yaml
Due: yamllint, egress-comment, yaml-json-schema

Path conditions:
  shellcheck: any of: *.sh{,.j2}
  tofu: any of: tofu/**/*.{tf,tfvars}
  tflint: any of: tofu/**/*.{tf,tfvars}
  yamllint: any of: *.y*ml
  egress-comment: any of: *.y*ml
  yaml-json-schema: any of: *.y*ml
