Repository deedee-ops/home-ops: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, tofu, tflint, yamllint

shellcheck:
  run: shellcheck {staged_files}

tofu:
  run: tofu fmt -check -diff {staged_files}

tflint:
  run: tflint --recursive

yamllint:
  run: yamllint -s {staged_files}

fix(helm): update chart snapshot-controller to 2.0.2
  kubernetes/apps/kube-system/snapshot-controller/Chart.yaml
Due: yamllint

feat(github-action): add extra github actions
  .github/labeler.yaml
  .github/labels.yaml
  .github/renovate/autoMerge.json5
  .github/renovate/labels.json5
  .github/workflows/broken-link-checker.yaml
  .github/workflows/linter.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
  .taskfiles/Healthcheck/Tasks.yaml
  .taskfiles/Healthcheck/cluster-job.sh
  .taskfiles/Healthcheck/repo-job.sh
  .taskfiles/Lint/Tasks.yaml
  .taskfiles/Lint/crd-extractor.sh
  .taskfiles/Lint/crd-schema-job.sh
  .taskfiles/Lint/egress-comment-job.sh
  .taskfiles/Lint/kubeconform-job.sh
  .taskfiles/Lint/yaml-json-schema-job.sh
  .yamllint
  Taskfile.yaml
  kubernetes/apps/argocd/argocd/templates/argocd_vault_plugin.yaml
  kubernetes/apps/argocd/argocd/templates/cmp_plugin.yaml
  kubernetes/apps/backups/kube-image-keeper/templates/garbage_collector.yaml
  kubernetes/apps/backups/kube-image-keeper/templates/secret.yaml
  kubernetes/apps/cert-manager/cert-manager/templates/cloudflare.yaml
  kubernetes/apps/database/cloudnative-pg/templates/operator_config.yaml
  kubernetes/apps/database/cloudnative-pg/templates/secret.yaml
  kubernetes/apps/database/redis-ha/templates/secret.yaml
  kubernetes/apps/default/authelia/templates/config.yaml
  kubernetes/apps/default/authelia/templates/initdb.yaml
  kubernetes/apps/default/authelia/templates/rbac.yaml
  kubernetes/apps/default/lldap/templates/initdb.yaml
  kubernetes/apps/default/smtp-relay/templates/config.yaml
  kubernetes/apps/kube-system/cilium/templates/cluster_network_policy.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/templates/alertmanager.yaml
  kubernetes/apps/monitoring/thanos/templates/objstore.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/templates/prometheus_rule.yaml
  kubernetes/apps/vault/vault/templates/volsync.yaml
  lefthook.yml
  tofu/talos_cluster/bootstrap.tf
Due: shellcheck, tofu, tflint, yamllint

fix(container): update image ghcr.io/siderolabs/installer to v1.5.5
  tofu/talos_cluster/bootstrap.tf
Due: tofu, tflint

fix(container): update image ghcr.io/siderolabs/kubelet to v1.28.4
  tofu/talos_cluster/bootstrap.tf
Due: tofu, tflint

fix(container): update image registry.k8s.io/kube-apiserver to v1.28.4
  tofu/talos_cluster/bootstrap.tf
Due: tofu, tflint

fix(container): update image registry.k8s.io/kube-controller-manager to v1.28.4
  tofu/talos_cluster/bootstrap.tf
Due: tofu, tflint

fix(container): update image registry.k8s.io/kube-scheduler to v1.28.4
  tofu/talos_cluster/bootstrap.tf
Due: tofu, tflint

fix(bootstrap): refactor bootstrap process
  .taskfiles/Ceph/Tasks.yaml
  .taskfiles/Ceph/crush-helper.sh
  README.md
  Taskfile.yaml
  kubernetes/apps/backups/volsync/bootstrap.yaml
  kubernetes/apps/backups/volsync/templates/network_policy.yaml
  kubernetes/apps/backups/volsync/values.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/values.yaml
  kubernetes/apps/vault/vault/bootstrap.yaml
  kubernetes/apps/vault/vault/templates/volsync.yaml
  tofu/talos_cluster/bootstrap.tf
Due: shellcheck, tofu, tflint, yamllint

fix(container): update image public.ecr.aws/docker/library/haproxy to v2.8.4
  kubernetes/apps/database/redis-ha/values.yaml
Due: yamllint

fix: various fixes after initial production deployment
  .taskfiles/Ceph/Tasks.yaml
  .taskfiles/Ceph/crush-helper.sh
  kubernetes/apps/networking/nginx/templates/certificate.yaml
  tofu/talos_cluster/bootstrap.tf
  tofu/talos_cluster/main.tf
  tofu/talos_cluster/variables.tf
Due: shellcheck, tofu, tflint, yamllint

feat(container): update image ghcr.io/tarampampam/error-pages to v2.26
  kubernetes/apps/networking/nginx/values.yaml
Due: yamllint

feat(helm): update chart thanos to 12.16.0
  kubernetes/apps/monitoring/thanos/Chart.yaml
Due: yamllint

fix: various fixes after initial production deployment
  .taskfiles/Ceph/Tasks.yaml
  .taskfiles/Ceph/crush-helper.sh
  kubernetes/apps/cert-manager/cert-manager/templates/cloudflare.yaml
  kubernetes/apps/networking/nginx/templates/certificate.yaml
  kubernetes/apps/networking/nginx/values.yaml
  kubernetes/apps/vault/vault/templates/volsync.yaml
  tofu/talos_cluster/bootstrap.tf
  tofu/talos_cluster/main.tf
  tofu/talos_cluster/variables.tf
Due: shellcheck, tofu, tflint, yamllint

feat(helm): update chart app-template to 2.3.0
  kubernetes/apps/database/cloudnative-pg/Chart.yaml
  kubernetes/apps/default/authelia/Chart.yaml
  kubernetes/apps/default/lldap/Chart.yaml
  kubernetes/apps/default/smtp-relay/Chart.yaml
Due: yamllint

feat(helm): update chart secrets-store-csi-driver to 1.4.0
  kubernetes/apps/kube-system/secrets-store-csi-driver/Chart.yaml
Due: yamllint

fix: various fixes after initial production deployment
  .taskfiles/Ceph/Tasks.yaml
  .taskfiles/Ceph/crush-helper.sh
  kubernetes/apps/cert-manager/cert-manager/templates/cloudflare.yaml
  kubernetes/apps/kube-system/cilium/templates/l2.yaml
  kubernetes/apps/networking/nginx/templates/certificate.yaml
  kubernetes/apps/networking/nginx/values.yaml
  kubernetes/apps/vault/vault/templates/volsync.yaml
  tofu/talos_cluster/bootstrap.tf
  tofu/talos_cluster/main.tf
  tofu/talos_cluster/variables.tf
Due: shellcheck, tofu, tflint, yamllint

feat(helm): update chart kube-prometheus-stack to 54.2.0
  kubernetes/apps/monitoring/kube-prometheus-stack/Chart.yaml
Due: yamllint

fix: various fixes after initial production deployment
  .taskfiles/Ceph/Tasks.yaml
  .taskfiles/Ceph/crush-helper.sh
  kubernetes/apps/argocd/argocd/templates/authelia.yaml
  kubernetes/apps/argocd/argocd/templates/cmp_plugin.yaml
  kubernetes/apps/argocd/argocd/values.yaml
  kubernetes/apps/cert-manager/cert-manager/templates/cloudflare.yaml
  kubernetes/apps/database/cloudnative-pg/templates/cluster.yaml
  kubernetes/apps/database/cloudnative-pg/templates/operator_config.yaml
  kubernetes/apps/database/cloudnative-pg/values.yaml
  kubernetes/apps/default/authelia/templates/rbac.yaml
  kubernetes/apps/default/authelia/values.yaml
  kubernetes/apps/default/smtp-relay/values.yaml
  kubernetes/apps/kube-system/cilium/templates/authelia.yaml
  kubernetes/apps/kube-system/cilium/templates/l2.yaml
  kubernetes/apps/kube-system/secrets-store-csi-driver/values.yaml
  kubernetes/apps/kyverno/kyverno/templates/security.yaml
  kubernetes/apps/networking/ingress-nginx/Chart.yaml
  kubernetes/apps/networking/ingress-nginx/application.yaml
  kubernetes/apps/networking/ingress-nginx/templates/certificate.yaml
  kubernetes/apps/networking/ingress-nginx/values.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/silence.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/templates/authelia.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/templates/network_policy.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/templates/prometheus_rule.yaml
  kubernetes/apps/vault/vault/templates/authelia.yaml
  kubernetes/apps/vault/vault/templates/volsync.yaml
  tofu/talos_cluster/bootstrap.tf
  tofu/talos_cluster/main.tf
  tofu/talos_cluster/variables.tf
Due: shellcheck, tofu, tflint, yamllint

feat(silence-operator): add silence-operator
  kubernetes/apps/monitoring/silence-operator/Chart.yaml
  kubernetes/apps/monitoring/silence-operator/application.yaml
  kubernetes/apps/monitoring/silence-operator/values.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/silence.yaml
Due: yamllint

feat(ingress-nginx): add internal routes
  kubernetes/apps/networking/ingress-nginx/templates/adguardhome.yaml
  kubernetes/apps/networking/ingress-nginx/templates/minio.yaml
  kubernetes/apps/networking/ingress-nginx/templates/opnsense.yaml
  kubernetes/apps/networking/ingress-nginx/templates/schemas.yaml
Due: yamllint

feat(whoogle): add whoogle
  kubernetes/apps/default/whoogle/Chart.yaml
  kubernetes/apps/default/whoogle/application.yaml
  kubernetes/apps/default/whoogle/values.yaml
Due: yamllint

feat(kubelet-serving-cert-approver): add kubelet-serving-cert-approver
  .taskfiles/Lint/kubeconform-job.sh
  kubernetes/apps/kube-system/kubelet-serving-cert-approver/.kubeconformignore
  kubernetes/apps/kube-system/kubelet-serving-cert-approver/application.yaml
  kubernetes/apps/kube-system/kubelet-serving-cert-approver/templates/service_monitor.yaml
Due: shellcheck, yamllint

feat(gitea): add gitea
  kubernetes/apps/cert-manager/cert-manager/templates/issuers.yaml
  kubernetes/apps/default/authelia/templates/config.yaml
  kubernetes/apps/default/gitea/Chart.yaml
  kubernetes/apps/default/gitea/application.yaml
  kubernetes/apps/default/gitea/templates/initdb.yaml
  kubernetes/apps/default/gitea/templates/integrations_ingress.yaml
  kubernetes/apps/default/gitea/templates/network_policy.yaml
  kubernetes/apps/default/gitea/templates/secret.yaml
  kubernetes/apps/default/gitea/templates/secret_class.yaml
  kubernetes/apps/default/gitea/templates/volsync.yaml
  kubernetes/apps/default/gitea/values.yaml
  kubernetes/apps/networking/ingress-nginx/values.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/templates/prometheus_rule.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/values.yaml
  kubernetes/apps/vault/vault/templates/volsync.yaml
Due: yamllint

fix(security): harden containers security
  .github/workflows/linter.yaml
  kubernetes/apps/default/authelia/application.yaml
  kubernetes/apps/default/authelia/values.yaml
  kubernetes/apps/default/gitea/application.yaml
  kubernetes/apps/default/gitea/values.yaml
  kubernetes/apps/default/lldap/application.yaml
  kubernetes/apps/default/smtp-relay/application.yaml
  kubernetes/apps/default/whoogle/application.yaml
  kubernetes/apps/default/whoogle/values.yaml
  kubernetes/apps/kyverno/kyverno/templates/prometheus_rule.yaml
  kubernetes/apps/monitoring/silence-operator/values.yaml
  kubernetes/apps/networking/ingress-nginx/values.yaml
Due: yamllint

fix(container): update image quay.io/argoproj/argocd to v2.9.2
  kubernetes/apps/argocd/argocd/values.yaml
Due: yamllint

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-4
  kubernetes/apps/database/cloudnative-pg/templates/cluster.yaml
Due: yamllint

fix(helm): update chart argo-cd to 5.51.4
  kubernetes/apps/argocd/argocd/Chart.yaml
Due: yamllint

fix(helm): update chart kube-prometheus-stack to 54.2.2
  kubernetes/apps/monitoring/kube-prometheus-stack/Chart.yaml
Due: yamllint

Path conditions:
  shellcheck: any of: *.sh{,.j2}
  tofu: any of: tofu/**/*.{tf,tfvars}
  tflint: any of: tofu/**/*.{tf,tfvars}
  yamllint: any of: *.y*ml
