Repository deedee-ops/home-ops: changes, and which lefthook commands are due for each by the changed paths.
All: shellcheck, tofu, tflint, yamllint, egress-comment, yaml-json-schema

shellcheck:
  run: shellcheck {staged_files}

tofu:
  run: tofu fmt -check -diff {staged_files}

tflint:
  run: tflint --recursive

yamllint:
  run: yamllint -s {staged_files}

egress-comment:
  run: go-task lint:egress-comment || task lint:egress-comment

yaml-json-schema:
  run: go-task lint:yaml-json-schema || task lint:yaml-json-schema

fix(ingress): remove obsolete domains
  kubernetes/apps/networking/ingress-nginx/templates/adguardhome.yaml
  kubernetes/apps/networking/ingress-nginx/templates/opnsense.yaml
Due: yamllint, egress-comment, yaml-json-schema

docs: update hardware specs in README
  README.md
Due: none

fix(argocd): ignore dynamic fields and resources
  kubernetes/apps/argocd/argocd/values.yaml
  kubernetes/apps/tools/intel-device-plugin/application.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(jellystat): remove jellystat
  kubernetes/apps/default/jellystat/Chart.yaml
  kubernetes/apps/default/jellystat/application.yaml
  kubernetes/apps/default/jellystat/templates/initdb.yaml
  kubernetes/apps/default/jellystat/templates/secret_class.yaml
  kubernetes/apps/default/jellystat/templates/volsync.yaml
  kubernetes/apps/default/jellystat/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(router): advertise k8s ingress bgp routes via dhcp
  nix/flake.lock
  nix/flake.nix
  nix/machines/router/default.nix
  nix/machines/router/modules/kea.nix
Due: none

fix(jellyfin): fix SSO with authelia
  kubernetes/apps/default/authelia/files/configuration.yaml
  kubernetes/apps/default/jellyfin/files/authelia.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(nixos): nixos gitops via comin
  nix/flake.lock
  nix/flake.nix
  nix/machines/router/default.nix
  nix/machines/supervisor/default.nix
  nix/modules/comin.nix
Due: none

fix(router): remove requirement of `--impure`
  nix/machines/router/default.nix
  nix/machines/router/modules/bind.nix
Due: none

feat(renovate): add nix support
  .github/renovate.json5
  .github/renovate/customManagers.json5
Due: none

fix(supervisor): force dns to router
  nix/machines/supervisor/networking.nix
Due: none

fix(renovate): fix regex for arion images in nix
  .github/renovate/customManagers.json5
Due: none

feat(router): switch untrusted interface and add PBS to KEA
  nix/machines/router/modules/kea.nix
  nix/machines/router/networking.nix
Due: none

fix(argocd): fix out-of-sync applications
  kubernetes/apps/tools/vault/application.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(monitoring): clean up exporter and IPs
  kubernetes/apps/kube-system/cilium/templates/bgp.yaml
  kubernetes/apps/kube-system/coredns/values.yaml
  kubernetes/apps/monitoring/external-exporters/templates/nodeexporter.yaml
  kubernetes/apps/monitoring/external-exporters/templates/proxmox.yaml
  kubernetes/apps/monitoring/external-exporters/templates/systemd.yaml
  kubernetes/apps/monitoring/external-exporters/values.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(monitoring): clean up exporter and IPs
  kubernetes/apps/argocd/argocd/values.yaml
  kubernetes/apps/kube-system/cilium/templates/bgp.yaml
  kubernetes/apps/kube-system/coredns/values.yaml
  kubernetes/apps/monitoring/external-exporters/templates/nodeexporter.yaml
  kubernetes/apps/monitoring/external-exporters/templates/proxmox.yaml
  kubernetes/apps/monitoring/external-exporters/templates/systemd.yaml
  kubernetes/apps/monitoring/external-exporters/values.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(homeassistant): move HA to HAOS VM
  kubernetes/apps/home/home-assistant/Chart.yaml
  kubernetes/apps/home/home-assistant/application.yaml
  kubernetes/apps/home/home-assistant/templates/initdb.yaml
  kubernetes/apps/home/home-assistant/templates/secret_class.yaml
  kubernetes/apps/home/home-assistant/templates/volsync.yaml
  kubernetes/apps/home/home-assistant/values.yaml
  kubernetes/apps/home/zigbee2mqtt/Chart.yaml
  kubernetes/apps/home/zigbee2mqtt/application.yaml
  kubernetes/apps/home/zigbee2mqtt/files/configuration.yaml
  kubernetes/apps/home/zigbee2mqtt/templates/config.tmpl.yaml
  kubernetes/apps/home/zigbee2mqtt/templates/secret.yaml
  kubernetes/apps/home/zigbee2mqtt/templates/volsync.yaml
  kubernetes/apps/home/zigbee2mqtt/values.yaml
  nix/machines/router/modules/bind.nix
  nix/machines/router/modules/kea.nix
Due: yamllint, egress-comment, yaml-json-schema

fix(thanos): increase resources for storagegateway
  kubernetes/apps/monitoring/thanos/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(synology): clean up, and adapt to new flow
  kubernetes/apps/home/synology/files/zot-config.json
  kubernetes/apps/home/synology/templates/auth.yaml
  kubernetes/apps/home/synology/templates/minio-ingress.yaml
  kubernetes/apps/home/synology/templates/zot-ingress.yaml
  kubernetes/apps/workers/synology/Chart.yaml
  kubernetes/apps/workers/synology/application.yaml
  kubernetes/apps/workers/synology/files/borgmatic-homelab.yaml
  kubernetes/apps/workers/synology/files/borgmatic-private.yaml
  kubernetes/apps/workers/synology/files/docker-compose.yaml
  kubernetes/apps/workers/synology/files/minio.rules.yaml
  kubernetes/apps/workers/synology/files/snmp-exporter-config.yaml
  kubernetes/apps/workers/synology/files/syncer.sh
  kubernetes/apps/workers/synology/templates/files.tmpl.yaml
  kubernetes/apps/workers/synology/templates/minio-monitoring.tmpl.yaml
  kubernetes/apps/workers/synology/templates/secret.yaml
  kubernetes/apps/workers/synology/templates/silence.yaml
  kubernetes/apps/workers/synology/templates/snmp-monitoring.yaml
  kubernetes/apps/workers/synology/templates/synology-monitoring.yaml
  kubernetes/apps/workers/synology/values.yaml
  nix/machines/router/modules/bind.nix
Due: shellcheck, yamllint, egress-comment, yaml-json-schema

feat(homepage): include supervisor images in homepage dashboard
  kubernetes/apps/default/homepage/files/custom.css
  kubernetes/apps/default/homepage/files/custom.js
  kubernetes/apps/default/homepage/files/docker.yaml
  kubernetes/apps/default/homepage/files/services.yaml
  kubernetes/apps/default/homepage/templates/network_policy.yaml
  kubernetes/apps/default/homepage/templates/supervisor-tls.yaml
  kubernetes/apps/default/homepage/values.yaml
  nix/machines/router/modules/bind.nix
  nix/machines/supervisor/default.nix
  nix/machines/supervisor/modules/arion-adguard-home.nix
  nix/machines/supervisor/modules/arion-nginx-proxy-manager.nix
  nix/machines/supervisor/modules/arion-omada-controller.nix
  nix/machines/supervisor/modules/docker.nix
  nix/machines/supervisor/secrets.sops.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(jellyfin): expose to IoT devices (TVs)
  kubernetes/apps/default/jellyfin/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(omada): add new switch
  nix/machines/router/modules/kea.nix
  nix/machines/supervisor/modules/arion-omada-controller.nix
Due: none

Revert "feat(container): update ghcr.io/deedee-ops/omada-controller ( 5.13 → 5.14 )"
  nix/machines/supervisor/modules/arion-omada-controller.nix
Due: none

fix(sonarr,radarr): persistent volume for `/config`
  kubernetes/apps/default/radarr/values.yaml
  kubernetes/apps/default/sonarr/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(invidious): enable proxy back
  kubernetes/apps/default/invidious/files/config.yml
Due: yamllint, egress-comment, yaml-json-schema

feat(nix): remove obsolete nix directory
  nix/.sops.yaml
  nix/flake.lock
  nix/flake.nix
  nix/machines/router/default.nix
  nix/machines/router/hardware-configuration.nix
  nix/machines/router/modules/bind.nix
  nix/machines/router/modules/ddclient.nix
  nix/machines/router/modules/firewall.nix
  nix/machines/router/modules/frr.nix
  nix/machines/router/modules/kea.nix
  nix/machines/router/networking.nix
  nix/machines/router/secrets.sops.yaml
  nix/machines/supervisor/default.nix
  nix/machines/supervisor/hardware-configuration.nix
  nix/machines/supervisor/modules/arion-adguard-home.nix
  nix/machines/supervisor/modules/arion-nginx-proxy-manager.nix
  nix/machines/supervisor/modules/arion-omada-controller.nix
  nix/machines/supervisor/modules/docker.nix
  nix/machines/supervisor/networking.nix
  nix/machines/supervisor/secrets.sops.yaml
  nix/modules/comin.nix
  nix/modules/locales.nix
  nix/modules/os.nix
  nix/modules/ssh.nix
  nix/modules/users.nix
  nix/modules/vm.nix
Due: yamllint, egress-comment, yaml-json-schema

feat(monitoring): remove thanos
  Taskfile.yaml
  kubernetes/apps/external/kromgo/values.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/values.yaml
  kubernetes/apps/monitoring/thanos/Chart.yaml
  kubernetes/apps/monitoring/thanos/application.yaml
  kubernetes/apps/monitoring/thanos/files/objstore.yml
  kubernetes/apps/monitoring/thanos/templates/objstore.tmpl.yaml
  kubernetes/apps/monitoring/thanos/values.yaml
  kubernetes/apps/workers/synology/files/borgmatic-homelab.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(database): remove hivemq
  kubernetes/apps/database/hivemq/Chart.yaml
  kubernetes/apps/database/hivemq/application.yaml
  kubernetes/apps/database/hivemq/files/credentials.xml
  kubernetes/apps/database/hivemq/files/extension-config.xml
  kubernetes/apps/database/hivemq/templates/config.tmpl.yaml
  kubernetes/apps/database/hivemq/templates/network_policy.yaml
  kubernetes/apps/database/hivemq/templates/silence.yaml
  kubernetes/apps/database/hivemq/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(tools): remove smart-device-manager
  kubernetes/apps/tools/smart-device-manager/Chart.yaml
  kubernetes/apps/tools/smart-device-manager/application.yaml
  kubernetes/apps/tools/smart-device-manager/files/conf.yaml
  kubernetes/apps/tools/smart-device-manager/templates/config.tmpl.yaml
  kubernetes/apps/tools/smart-device-manager/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(synology): reorganize volumes
  kubernetes/apps/workers/synology/files/borgmatic-homelab.yaml
  kubernetes/apps/workers/synology/files/borgmatic-private.yaml
  kubernetes/apps/workers/synology/files/docker-compose.yaml
Due: yamllint, egress-comment, yaml-json-schema

fix(volsync): add alert for missing sync
  kubernetes/apps/workers/volsync/files/volsync.rules.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(external-exporter): add homeassistant prometheus metrics
  README.md
  kubernetes/apps/external/kromgo/files/config.yaml
  kubernetes/apps/monitoring/external-exporters/templates/homeassistant.yaml
  kubernetes/apps/monitoring/external-exporters/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(lldap): add SSL support for LDAP
  README.md
  kubernetes/apps/default/lldap/templates/ssl.yaml
  kubernetes/apps/default/lldap/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(vault): add OIDC support for vault
  kubernetes/apps/argocd/argocd/files/authelia.yaml
  kubernetes/apps/default/jellyfin/files/authelia.yaml
  kubernetes/apps/tools/vault/files/authelia.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(lldap): add SSL support for LDAP
  README.md
  kubernetes/apps/default/authelia/files/configuration.yaml
  kubernetes/apps/default/gitea/values.yaml
  kubernetes/apps/default/lldap/templates/ssl.yaml
  kubernetes/apps/default/lldap/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(loki): add loki
  kubernetes/apps/monitoring/loki/Chart.yaml
  kubernetes/apps/monitoring/loki/application.yaml
  kubernetes/apps/monitoring/loki/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(promtail): add promtail
  kubernetes/apps/monitoring/promtail/Chart.yaml
  kubernetes/apps/monitoring/promtail/application.yaml
  kubernetes/apps/monitoring/promtail/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(grafana): add grafana
  .github/renovate.json5
  .github/renovate/grafanaDashboards.json5
  kubernetes/apps/monitoring/grafana/Chart.yaml
  kubernetes/apps/monitoring/grafana/application.yaml
  kubernetes/apps/monitoring/grafana/templates/network_policy.yaml
  kubernetes/apps/monitoring/grafana/templates/secret.yaml
  kubernetes/apps/monitoring/grafana/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

feat(exportarr): add exportarr
  kubernetes/apps/monitoring/exportarr/Chart.yaml
  kubernetes/apps/monitoring/exportarr/application.yaml
  kubernetes/apps/monitoring/exportarr/templates/apikeys.yaml
  kubernetes/apps/monitoring/exportarr/values.yaml
  kubernetes/apps/monitoring/grafana/values.yaml
Due: yamllint, egress-comment, yaml-json-schema

Path conditions:
  shellcheck: any of: *.sh{,.j2}
  tofu: any of: tofu/**/*.{tf,tfvars}
  tflint: any of: tofu/**/*.{tf,tfvars}
  yamllint: any of: *.y*ml
  egress-comment: any of: *.y*ml
  yaml-json-schema: any of: *.y*ml
